.char-select, .char-menu, .currency-pop, .middle-area, .left-area, .weasel-back, .weasel-timer-div, .side-pop-container {
    left: unset;
}

.notif-select, .nut-store-access, .tree-access, .right-area {
    right: unset;
}

.minesweeper-backdrop, .weasel-backdrop, .battleship-div, .snake-description, .side-pop, .main-table {
    flex-direction: row-reverse;
}


.left-area {
    right: 0%;
}

.right-area {
    left: 0;
}

.middle-area {
    right: 35.2%;
    z-index: 11;
}

.char-select {
    right: 1%;
}

.char-menu {
    right: 2%;
}

.notif-select {
    left: 3%;
}

.currency-pop {
    right: 32%;
}

.weasel-back, .weasel-timer-div {
    right: 4%;
}

.nut-store-access {
    left: 1%;
}

.tree-access {
    left: 1%;
}

.side-pop-container {
    right: 0;
}

.side-pop > img {
    margin-left: unset;
    margin-right: 0.25rem;
}

.side-pop-animation {
    animation: slide-in-right 0.8s ease-in-out;
}