
.left-area {
    left: unset;
    right: 0.2%;
}

.right-area {
    right: unset;
    left: 0;
}

.middle-area {
    left: unset;
    right: 35.2%;
    z-index: 11;
}

.main-table {
    flex-direction: row-reverse;
}

.char-select {
    left: unset;
    right: 1%;
}

.char-menu {
    left: unset;
    right: 2%;
}

.notif-select {
    right: unset;
    left: 3%;
}

.currency-pop {
    left: unset;
    right: 32%;
}

.minesweeper-backdrop, .weasel-backdrop, .battleship-div, .snake-description {
    flex-direction: row-reverse;
}

.weasel-back, .weasel-timer-div {
    left: unset;
    right: 4%;
}

.nut-store-access {
    left: 1%;
    right: unset;
}

.tree-access {
    left: 24%;
    right: unset;
}