/*/////////////////////////////// MOBILE CSS  ///////////////////////////////*/
@media (max-width: 768px) {
    html {
      touch-action: manipulation;
    }
}

#start-image {
    width: 80%;
}

#start-screen > button {
    width: 50%;
    top: 0
}

#start-idle-nahida {
    bottom: 0;
    right: 2%;
    height: 30%;
}

#start-idle-dori {
    bottom: 25%;
    left: 5%;
    height: 30%;
}

#start-idle-scara {
    bottom: 2%;
    left: 2%;
    height: 30%;
}


body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 2.0vw;
    border: 0;
}

.copyright-text, .version-text {
    bottom: 50%;
}

/* MOBILE CSS FOR MAIN GAME */
.left-area {
    width: 100%;
    height: 46%;
    position: absolute;
    left: 0;
    top: 5%;
}

.middle-area {
    width: 100%;
    height: 5%;
    left: 0;
    top: 0%;
    flex-direction: row;
    justify-content: space-around;
}

.energy-primo-container {
    width: 25%;
    column-gap: 5%;
    left: 0;
    flex-direction: row;
}

.pill-value {
    height: 70%;
    border-radius: 2em;
}

.pill-value > span {
    font-size: 1.4em;
}

.pill-value > img {
    transform: scale(1.3);
}

.temp-buff {
    width: 30%;
    top: 0;
    flex-direction: row;
}

.temp-buff > div {
    height: 100%;
    width: auto;
    aspect-ratio: 1;
}

.multiplier-button-container {
    width: 40%;
    padding-right: 1%;
    box-sizing: border-box;
    position: relative;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.multiplier-button-container > button {
    padding: 0.5%;
    width: auto;
    height: 100%;
    aspect-ratio: 1;
}

.middle-area > div {
    height: 100%;
}

.right-area {
    width: 100%;
    height: 50%;
    top: 50%;
}

.score-container {
    top: 2%;
    height: 18%;
}

#demo-container {
    top: 5%;
    height: 65%;
}

.settings-menu {
    left: 10%;
    width: 80%;
}

.pop-new {
    width: 55%;
    right: -15%;
}

.pop-new-corner {
    width: auto;
    height: 25%;
}

/* MOBILE CSS FOR TABLES */
.right-area {
    z-index: 3;
}
#table1 {
    gap: 2%;
}

.upgrade {
    height: 25%;
    max-height: 25%;
}

#table3 {
    flex-wrap: wrap;
}

#expedDiv {
    width:40%;
    height: 70%;
    overflow-x: scroll;
    flex-direction: row;
    justify-content:initial;
}

.inventory-selected {
    border: 0.25em inset #867357;
    border-radius: 1em;
}

.inventory-selected :first-child {
    border-radius: 0.75em;
}

.expedition {
    flex: 0 0 auto;
    height: 100%;
    width: 33%;
    background-position: center;
}

.tooltipEXPED {
    width: 55%;
    height: 60%;
    font-size: 0.95em;
}

#adventure-button {
    top:1%;
    height: 18%;
}

#tool-tip-button {
    height: 20%;
}

#exped-row-1 {
    align-items: center;
}

.wish-button {
    height: 25%;
    bottom: 1%;
}

#wish-counter-display {
    height: 13%;
}

#wish-nps-display {
    top: 20%;
}

#table6 {
    width: 50%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    padding-left: 2%;
    padding-right: 2%;
    column-gap: 2%;
}

.tool-tip-name {
    flex-basis: 100%;
}

.toolImgContainer {
    height: 20%;
    width: auto;
}

.tool-tip-extraimg {
    width: auto;
    height: 20%;
    flex-direction: column;
}

.tool-tip-text {
    font-size: 0.9em;
    text-align: center;
}

.tool-tip-extraimg > img {
    height: 50%;
    width: 100%;
    object-fit: contain;
}

.table-with-tooltip {
    height: 85%;
}

.filter-row {
    width: 56.5%;
    height: 15%;
}

.filter-row div:nth-child(3) > button {
    height:37%;
    aspect-ratio: 1;
}

.wish-img {
    width: 90%;
    height: auto;
}

.table5-Image {
    width: 70%;
}

.flex-container-ACHIEVEMENT {
    width: 65%;
}

#table7 > img {
    height: 70%;
}

#table7 > div {
    left: 5%;
}

.store-div {
    width: 70%;
    height: 45%;
    overflow-x: scroll;
    flex-wrap: nowrap;
    justify-content:unset;
    padding-left: 1%;
    padding-right: 1%;
    box-sizing: border-box;
}

.store-timer {
    height: 15%;
    background-image: url(./assets/frames/dori-deals-long.webp);
}

.shop-button {
    height: 80%;
    width: 15%;
    flex: 0 0 auto;
}

.store-dialog {
    height: 30%;
    left: 0%;
    width: 65%;
    border: 0.2em solid #756F60;
}

/* EVENTS MOBILE CSS */
.event-dropdown {
    width: 80%;
    left: 10%;
}

.event-dropdown-text {
    padding-left: 5%;
    box-sizing: border-box;
}

.raining-image {
    width: 15%;
}

.currency-pop {
    top: 6%;
    left: 6%;
    width: 14%;
    height: 9%;
    font-size: 1.1em;
}

#reaction-image {
    width: 55%;
}

#reaction-button {
    width: 55%;
}

.box-outer-div {
    top: 15%;
    left: 10%;
    width: 80%;
    height: 70%;
    flex-direction: row-reverse;
}

.box-image-div {
    width: 50%;
    height: 25%;
}

.event-mine-bg {
    left: 0;
    top: 0;
    left: 0;
    height: 60%;
    width: auto;
    aspect-ratio: 1;
}

#mine-info {
    position: relative;
    height: 30%;
    width: auto;
}

.weasel-back {
    height: 60%;
}