/*/////////////* COMMONLY USED STYLES ///////////////*/
.flex-row {
    display: flex;
    flex-direction:  row;
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.background-image-cover {
    background-color: transparent;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.cover-all {
    position: absolute;
    width: 100%;
    height: 100%;
}