@font-face {
    font-family: gi-font;
    src: url(./assets/gi-font.ttf);
}

html {
    height: 100%;
    cursor: url(./assets/icon/cursor.png), auto;
}

button {
    cursor: url(./assets/icon/cursor.png), auto
}

body {
    width: 100%;
    height: 100%;
    background-color: aqua;
    position: relative;
    overflow: hidden;
    font-family: 'gi-font';
  }

.overlay {
    display: flex;
    background: url(./assets/wood.jpg);
    flex-direction:  row;
    justify-content: center;
    align-items: center;
    z-index: 200;
}

* {
    scrollbar-width: auto;
    scrollbar-color: #ffffff #3d3d3d;
    margin: 0;
    padding: 0;
    border: 0;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-color: #3F3F3F;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* MAIN BODY CSS */
table {
    cursor: url(./assets/icon/cursor.png), auto;
}

.score-container {
    display: flex;
    text-align: center;
    color:white;
    text-shadow: 3px 3px 5px black;
    flex-direction: column;
    position: relative;
    top: 10%;
    width: 100%;
    height: 10%;
    background-color: rgba(0,0,0,0.4);
    z-index: 4;
}

.left-area {
    width: 35%;
    height: 100%;
    position: absolute;
    left: 0px;
    background-color: rgb(249, 126, 12);
    display:flex;
    flex-direction: column;
    align-items: center;
  }

.middle-area {
    width: 5%;
    height: 100%;
    left: 35%;
    position: absolute;
    background-color: #57783b;
    display:flex;
    flex-direction: column;
}

.middle-bar {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 5;
}

.right-area {
    width: 60%;
    height: 100%;
    position: absolute;
    right: 0px;
    background-color: rgb(191, 255, 0);
    display:flex;
    flex-direction: column;
  }

.div-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.top-bar {
    position: absolute;
    width: 100%;
    height: inherit;
    object-fit: fill;
}

.main-table {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    z-index: 5;
}

.table-with-tooltip {
    flex-grow: 2;
    width: 70%;
    height: 100%;
    box-sizing: border-box;
    padding: 1.5%;
    overflow-y: scroll;
}

.table-without-tooltip {
    width: 100%;
    height: 100%;
}




/* #body-border {
    position: absolute;
    top:-27px;
    left: -20px;
    width: 1670px;
    height: 867px;
    z-index: 5;
    border: 14px ridge #ACC35B;
    border-radius: 20px;
    pointer-events: none;
} */

#score {
    font-size: 40px;
}

#dps {
    font-size: 25px;
}

.energy-primo-container {
    position: relative;
    top:1%;
    width: 100%;
    height: 20%;
    z-index: 10;
    row-gap: 1%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}

.pill-value {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    text-align: right;
    color:white;
    height: 20%;
    z-index: 10;
}

.pill {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 5;
    object-fit: contain;
    mix-blend-mode:color-dodge;
}
/* 
.energy-primo-container {
    position:absolute;
    
    left:601px; 
    top:5px;
    width:96px;
    height:65px;
    
}

.icon {
    width:19px;
    height:27px;
} */

/* .primogem {
    width:23px;
    height:25px;
}

 */

/* TEMP BUFFS CSS */
.temp-buff {
  left:622px; 
  top:85px; 
  position: absolute;
}

svg {
  position: relative;
  top: -4px;
  left: -3px;
  width: 48px;
  height: 50px;
  transform: rotateY(-180deg) rotateZ(-90deg);
}

circle {
  stroke-dasharray: 125px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 2px;
  stroke: white;
  fill: none;
  animation: countdown 31s linear infinite forwards;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 125px;
  }
}

/* SETTINGS CSS */
.settings-button {
    height: 24%;
    width: 100%;
    background:transparent;
}

.settings-button-img {
    width: 100%;
    height: 100%;
    object-fit:contain;
    position: relative;
}

.settings-button:hover{
    filter: drop-shadow(0px 0px 2px #ffffff);
}

.settings-menu {
    position: absolute;
    width: 1448px;
    height: 446px;
    top:280px;
    left: 123px;
    background-color: rgba(0,0,0,1);
    z-index: -1;
}

.setting-save {
    position: absolute;
    width: 48px;
    height: 46px;
    top: 280px;
    left: 123px;
    background-color: rgb(24, 215, 14);
}

.setting-clear {
    position: absolute;
    width: 48px;
    height: 46px;
    top: 280px;
    left: 223px;
    background-color: rgb(216, 28, 28);
}

.multiplier-button-container {
    display: flex;
    position: absolute;
    flex-direction: column-reverse;
    justify-content:space-between;
    align-items: center;

    width: 100%;
    height: 24%;
    bottom: 2%;
    z-index: 15;
    row-gap: 2%;
}

.multiplier-button {
    background:transparent;
    height: 22%;
    width: 100%;
}

.multiplier-button-img {
    width: 100%;
    height: 100%;
    object-fit:contain;
    position: relative;
}


.dim-filter {
    transition: 0.3s ease;
    filter: brightness(50%);
}

/* BUTTON CSS */
#demo {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    
}

.demo-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 0.08s ease;
    animation: rotation 18s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    } to {
      transform: rotate(359deg);
    }
}

#demo-container {
    position: relative;
    top: 15%;
    width:83%;
    height: 55%;
}

.floatingText {
    font-size: 25px;
    color: white;
    text-shadow: 2px 2px 0px #000000;
    position: absolute;
    animation: fadeOutOpacity 1.5s cubic-bezier(.02,.97,.91,.14);
    z-index: 3;
    pointer-events: none;
}

@keyframes fadeOutOpacity {
    from {
      opacity: 1.0;
    }
    to {
      opacity: 0.2;
      top: -20px;
    }
  }

.falling-image {
    position: absolute;
    opacity: 0.7;
    z-Index: 2;
}

@keyframes fall {
    from {top: -200px;opacity: 0.7s;}
    to {top: 600px;opacity: 0;}
}

/* TAB BODY CSS */
#flex-container-TAB {
    width: 100%;
    height: 10%;
    z-index: 3;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.tab-button {
    width: 100%;
    height: 100%;
    object-fit:contain;
    position: relative;
    z-index: 3;
}

.tab-button-div {
    width: 6%;
    height: 66%;
}

.tab-button:hover{
    filter: drop-shadow(0px 0px 3px #ffffff);
}


/* .flex-container-TAB {
    position: absolute;
    left:800px; 
    top:5px; 
    width: 730px;
    gap: 10px;
    display: flex;
    flex-wrap: no-wrap;
    flex-direction: row-reverse;
    justify-content: space-between;
} */



/* ALL POP UP CSS (New/Tut) */
.pop-new {
    position: absolute;
    z-index: 3;
    width: 43px;
    height: 24px;
    content: url(./assets/icon/new.webp);
}

.pop-new-1 {
    left: 848px;
    top: 0px;
}

.pop-new-2 {
    left: 1018px;
    top: 0px;
}

.pop-new-3 {
    left: 1175px;
    top: 0px;
}

.pop-new-4 {
    left: 1345px;
    top: 0px;
}

.pop-new-corner {
    position: absolute;
    z-index: 3;
    width: 867px;
    height: 233px;
    left: 810px;
    top: 620px;
}

/* TUTORIAL CSS */
.tutorial-dark {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top:-14px;
    left: -7px;
    width: 1670px;
    height: 867px;
    z-index: 200;
    background-color: rgba(0,0,0,0.90);
}

.tutorial-screen {
    width: 1233px;
    height: 738px;
    z-index: 200;
    background: url(./assets/tutorial/tutorialFrame.webp);
}

.tutorial-img {
    position: absolute;
    left: 321px;
    top: 200px;
    width: 1019px;
    height: 530px;
}

.tutorial-button:hover {
    filter: drop-shadow(0px 0px 7px #57783b);
}

/* HERO UPGRADES (TABLE1) CSS */
#table1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;  
    overflow-x: hidden;
}

.upgrade {
    /* display: flex;
    font-family: 'gi-font';
    justify-content: center;
    align-items: center; */
    position: relative;
    transition: 0.4s ease;
    filter: brightness(var(--brightness)) 
            grayscale(var(--grayscale)); 
    text-shadow: #3C3C3C 3px 0px 0px, #3C3C3C 2.83487px 0.981584px 0px, #3C3C3C 2.35766px 1.85511px 0px, #3C3C3C 1.62091px 2.52441px 0px, #3C3C3C 0.705713px 2.91581px 0px, #3C3C3C -0.287171px 2.98622px 0px, #3C3C3C -1.24844px 2.72789px 0px, #3C3C3C -2.07227px 2.16926px 0px, #3C3C3C -2.66798px 1.37182px 0px, #3C3C3C -2.96998px 0.42336px 0px, #3C3C3C -2.94502px -0.571704px 0px, #3C3C3C -2.59586px -1.50383px 0px, #3C3C3C -1.96093px -2.27041px 0px, #3C3C3C -1.11013px -2.78704px 0px, #3C3C3C -0.137119px -2.99686px 0px, #3C3C3C 0.850987px -2.87677px 0px, #3C3C3C 1.74541px -2.43999px 0px, #3C3C3C 2.44769px -1.73459px 0px, #3C3C3C 2.88051px -0.838247px 0px;
}

.upgrade-text {
    position: absolute;
    top: 35%;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 100%;
    text-align: center;
    font-size: 29px;

}

.hero-button-frame {
    width: 100%;
    height: 100%;
    position: relative;
    top:0px;
    left:0px;
}

:root {
    --brightness:100%;
    --dropshadow:0px 0px 0px black;
    --grayscale:0%;
}

.not-dim {
    transition: 0.3s ease;
    --dropshadow:0px 0px 3px #000000;
}

.not-dim:hover {
    transform:scale(1.035);
    transition: 0.4s ease;
    filter: drop-shadow(var(--dropshadow)) 
}

.dim {
    transition: 0.6s ease;
    --dropshadow:1px 1px 5px rgb(63, 63, 63);
    --grayscale:100%;
    --brightness:60%;
}

/* INVENTORY (TABLE2) CSS */
.item-button {
    border: 0px;
    width: 131px;
    height: 158px;
}

.flex-container-INVENTORY {
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: stretch;
    gap: 5px 1%;
}

.flex-container-INVENTORY button:hover{
    box-shadow: 5px 5px;
}

.button-container {
    width: 103px;
    height: 130px;
    position: relative;
}

.button-inv-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
} 

.button-inv-star {
    position: relative;
    top: -10px;
    width: auto;
    height: 27px;
}

.button-inv-item {
    position: relative;
    top: 8px;
    left: -2px;
    width: 110px;
    height: 110px;
} 

/* EXPEDITION (TABLE3) CSS */
.flex-container-EXPEDITION button {
    transition: 0.2s ease;
    opacity: 0.25;
}

.flex-container-EXPEDITION button:hover {
    transition: 0.4s ease;
    opacity: 1;
}

.flex-container-EXPEDITION {
    justify-content: center;
    align-items: center;
}

.expedition {
    margin: auto;
    width:190px;
    height: 489px;
}

/* EXPEDITION TOOLTIP CSS */
.tooltipEXPED {
    text-align: center;
    z-index:2;
    background: url(./assets/tooltipEXPED.png);
    position: absolute; 
    left: 745px; 
    top: 595px; 
    width: 850px;
    height: 238px;
}

.tooltipTABLEEXPED {
    color: #DEDEDE;
    display:flex;
    justify-content: space-around;
    align-items: center;
    border:10px 1px #000000;
    width: inherit;
    height: inherit;
}

.exped-cell-one {
    width: 780px;
    top: -210px;
    font-size: xx-large;
}

.after-icon {
    content: url(./assets/icon/energyIcon.png);
    width:23px;
    height:25px;
}

.exped-cell-two {
    width: 780px;
    font-size: 23px;
    text-justify: inter-word;
}

/* WISH (TABLE4) CSS */
.wish-counter {
    z-index: 1;
    position: absolute; 
    top:40px; 
    left:-2px; 
    background:url(./assets/wishBG.png);
    background-size: 105%;
    background-position: center center;
    background-repeat: no-repeat;
    width:969px; 
    height:764px;
}

.wish-button {
    font-family: gi-font;
    position: absolute;
    top: 615px;
    left: 270px;
    width:412px;
    height:96px;
    
    background:url(./assets/wishButton.webp);
    font-size: 29px;
    color: #F8E8C7;
    text-shadow: #73603D 3px 3px 1px;
}

.wish-button:hover{
    filter: drop-shadow(0px 0px 2px #ffffff);
    transition: .3s ease;
}

.wish-button-new:active {
    transform:scale(0.95);
    transition: 0.1s ease;
}

.wish-button-new:after{
    content: url(./assets/icon/primogemIcon.png);
}

.wish-mail-container {
    position: absolute;
    top: 0px;
    left: 140px;
    width: 634px;
    height: 528px;
}

.wish-mail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity 0.35s ease-in-out;
    -moz-transition: opacity 0.35s ease-in-out;
    -o-transition: opacity 0.35s ease-in-out;
    transition: opacity 0.35s ease-in-out;
}

/* ACHIEVEMENT (TABLE5) CSS */
#table5-container {
    font-size: 10px;
    background: url(./assets/achievementBG.webp);
    background-size: 102%;
    background-position: center;
    background-repeat: no-repeat;
}

.flex-container-ACHIEVEMENT {
    margin: 0;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    gap: 5px 8px;
}

.achieve {                                         
    z-index:2;
    position: absolute; 
    top:685px; 
    width:593px;
    height:98px;
    text-align: center;
    background:url(./assets/achievement.png);
    background-size: 100%;
    background-position: 5px center;
    background-repeat: no-repeat;
    animation: fadeOut 7s cubic-bezier(.93,-0.24,.93,.81);
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

.achieve:hover {
    transition: 0.4s ease;
    background-color: yellow;
}

.achievementImageContainer {
    width:100px;
    height:100px;
}

.achievementImageNumber {
    position:relative; 
    top: 63%;
    width:30px;
    height:30px;
    
}

.achieve-stored-text {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 12px;
}

.achieve-stored {
    width:420px;
    height:98px;

    display: flex;
    justify-content: space-evenly;
    font-family: 'gi-font';
    
    color: #5b4e32;
    text-align: center;
    border: 5px ridge #a59e8e;
    background-image: url(./assets/achievement.webp);
    background-size: 109%;
    background-position: center center;
}

.achieveStoredH1 {
    font-size: 2.5em;
    color: #343030;
    margin: 0;
}

.achieveStoredH2 {
    font-size: 1.8em;
    margin: 0;
}

/* TOOLTIP UI (TABLE6) CSS */
.sideImg {
    position: absolute;
    left: 1279px;
    width: 382px;
    height: 869px;
}

.toolImgOverlay {
    position: absolute;
    left: 47px;
    top: 55px;
    width: 215px;
    height: auto;
}

#table-tab {
    position: absolute;
    top: 10px;
    right:140px;
    width: 100px;
    height: 10px;
}

#table6 {
    position: relative;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px 302px;
    align-items: center;
}

#table6 > div {
    z-index: 5;
}


.table6-background {
    position: absolute;
    object-fit: fill;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.tool-tip-name {
    font-size: 30px;
    text-align: center;
}

.tool-tip-text {
    font-size: 22px;
    text-align: center;
}

.tool-tip-lore {
    font-size: 20px;
    text-align: left;
}

.tool-tip-extraimg {
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    z-index: 5;
}

.tool-tip-extraimg img{
    height: 70px;
    width: 70px;
}