@font-face {
    font-family: gi-font;
    src: url(./assets/gi-font.ttf);
}

.overlay {
    display: flex;
    background: url(./assets/wood.jpg);
    flex-direction:  row;
    justify-content: center;
    align-items: center;
    z-index: 4;
}

* {
    scrollbar-width: auto;
    scrollbar-color: #ffffff #3d3d3d;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-color: #3F3F3F;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* MAIN BODY CSS */
table {
    cursor: url(./assets/cursor.png), auto;
}

.score-container {
    display: flex;
    text-align: center;
    color:white;
    text-shadow: 3px 3px 5px black;
    flex-direction: column;
    position: absolute;
    left:-8px; 
    top:90px;
    width:609px;
    height:90px;
    background-color: rgba(0,0,0,0.4);
    z-index: 2;
}

button {
    border: 0px;
}

#body-border {
    position: absolute;
    top:-27px;
    left: -20px;
    width: 1670px;
    height: 867px;
    z-index: 3;
    border: 14px ridge #ACC35B;
    border-radius: 20px;
    pointer-events: none;
}

#score {
    font-size: 40px;
}

#dps {
    font-size: 25px;
}

.energy-primo-container {
    position:absolute;
    display:flex;
    flex-direction: column;
    left:601px; 
    top:5px;
    width:96px;
    height:65px;
    justify-content: space-between;
}

.icon {
    width:19px;
    height:27px;
}

.primogem {
    width:23px;
    height:25px;
}

.pill-value {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    text-align: right;
    color:white;
    background: url(./assets/pill.png);
    background-size: 100%;
    width:96px;
    height: 29px;
}

/* SETTINGS CSS */
.settings-button {
    position: absolute;
    width: 48px;
    height: 46px;
    top:780px;
    left: 623px;
    background-color: rgba(0,0,0,0);
    background-image: url(./assets/settings.webp);
}

.settings-button:hover{
    filter: drop-shadow(0px 0px 2px #ffffff);
}

.settings-menu {
    position: absolute;
    width: 1448px;
    height: 446px;
    top:280px;
    left: 123px;
    background-color: rgba(0,0,0,1);
    z-index: -1;
}

.setting-save {
    position: absolute;
    width: 48px;
    height: 46px;
    top: 280px;
    left: 123px;
    background-color: rgb(24, 215, 14);
}

.setting-clear {
    position: absolute;
    width: 48px;
    height: 46px;
    top: 280px;
    left: 223px;
    background-color: rgb(216, 28, 28);
}

.multiplier-button-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    
    width: 50px;
    height: 166px;
    top: 610px;
    left: 623px;
}

.multiplier-button {
    width: 49px;
    height: 48px;
}


.dim-filter {
    transition: 0.3s ease;
    filter: brightness(50%);
}

/* BUTTON CSS */
#demo {
    width: 95%;
    height: 95%;
    margin-top: 2.5%;
    margin-left: 2.5%;
    position: absolute;
    transition: 0.08s ease;
    
    background-position: center center;
    background: url(./assets/nahida.png);
    background-size: cover;
    content: '';
    animation: rotation 18s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    } to {
      transform: rotate(359deg);
    }
}

#demo-container {
    position: absolute;
    top: 180px;
    left: 50px;
    width:508px;
    height:508px;
}

/* TAB BODY CSS */
.tab-button {
    width:64px;
    height:64px;
}

img {
    height: 48px;
    width: 48px;
}

.uiTab {
    margin-top:56px;
    margin-left:697px;
}

.flex-container-TAB {
    position: absolute;
    left:800px; 
    top:5px; 
    width: 730px;
    gap: 10px;
    display: flex;
    flex-wrap: no-wrap;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.flex-container-TAB button:hover{
    filter: drop-shadow(0px 0px 3px #ffffff);
}

/* ALL POP UP CSS (New/Tut) */
.pop-new {
    position: absolute;
    z-index: 3;
    width: 43px;
    height: 24px;
    content: url(./assets/new.webp);
}

.pop-new-1 {
    left: 848px;
    top: 0px;
}

.pop-new-2 {
    left: 1018px;
    top: 0px;
}

.pop-new-3 {
    left: 1175px;
    top: 0px;
}

.pop-new-corner {
    position: absolute;
    z-index: 3;
    width: 867px;
    height: 233px;
    left: 810px;
    top: 620px;
}

/* TUTORIAL CSS */
.tutorial-dark {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top:-14px;
    left: -7px;
    width: 1670px;
    height: 867px;
    z-index: 3;
    background-color: rgba(0,0,0,0.90);
}

.tutorial-screen {
    width: 1233px;
    height: 738px;
    z-index: 3;
    background: url(./assets/tutorial/tutorialFrame.webp);
}

.tutorial-img {
    position: absolute;
    left: 321px;
    top: 200px;
    width: 1019px;
    height: 530px;
}

.tutorial-button:hover {
    filter: drop-shadow(0px 0px 7px #57783b);
}

/* HERO UPGRADES (TABLE1) CSS */
.flex-container-HERO {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    left: -5px; 
    top: 45px;
    width: 657px;
    height: 760px;
    overflow-y: scroll;  
    overflow-x: hidden;
}

.upgrade {
    display: flex;
    font-family: 'gi-font';
    justify-content: center;
    align-items: center;
    width:622px;
    min-height:115px;
    color: white;
    font-size: 19px;
    text-shadow: #3C3C3C 3px 0px 0px, #3C3C3C 2.83487px 0.981584px 0px, #3C3C3C 2.35766px 1.85511px 0px, #3C3C3C 1.62091px 2.52441px 0px, #3C3C3C 0.705713px 2.91581px 0px, #3C3C3C -0.287171px 2.98622px 0px, #3C3C3C -1.24844px 2.72789px 0px, #3C3C3C -2.07227px 2.16926px 0px, #3C3C3C -2.66798px 1.37182px 0px, #3C3C3C -2.96998px 0.42336px 0px, #3C3C3C -2.94502px -0.571704px 0px, #3C3C3C -2.59586px -1.50383px 0px, #3C3C3C -1.96093px -2.27041px 0px, #3C3C3C -1.11013px -2.78704px 0px, #3C3C3C -0.137119px -2.99686px 0px, #3C3C3C 0.850987px -2.87677px 0px, #3C3C3C 1.74541px -2.43999px 0px, #3C3C3C 2.44769px -1.73459px 0px, #3C3C3C 2.88051px -0.838247px 0px;
}

:root {
    --brightness:100%;
    --dropshadow:0px 0px 0px black;
    --grayscale:0%;
}

.upgrade {
    transition: 0.4s ease;
    filter: brightness(var(--brightness)) 
            grayscale(var(--grayscale)); 
}

.not-dim {
    transition: 0.3s ease;
    --dropshadow:0px 0px 3px #000000;
}

.not-dim:hover {
    transform:scale(1.035);
    transition: 0.4s ease;
    filter: drop-shadow(var(--dropshadow)) 
}

.dim {
    transition: 0.6s ease;
    --dropshadow:1px 1px 5px rgb(63, 63, 63);
    --grayscale:100%;
    --brightness:60%;
}

/* INVENTORY (TABLE2) CSS */
.item-button {
    border: 0px;
    width: 131px;
    height: 158px;
}

.flex-container-INVENTORY {
    overflow-y: auto;
    width: 652px;
    height: 757px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    gap: 10px 10px;
}

.flex-container-INVENTORY button:hover{
    box-shadow: 5px 5px;
}

.inventoryButton {
    width: 118px;
    height: 144px;
}

/* EXPEDITION (TABLE3) CSS */
.flex-container-EXPEDITION button {
    transition: 0.2s ease;
    opacity: 0.25;
}

.flex-container-EXPEDITION button:hover {
    transition: 0.4s ease;
    opacity: 1;
}

.flex-container-EXPEDITION {
    justify-content: center;
    align-items: center;
}

.expedition {
    margin: auto;
    width:190px;
    height: 489px;
}

/* EXPEDITION TOOLTIP CSS */
.tooltipEXPED {
    text-align: center;
    z-index:2;
    background: url(./assets/tooltipEXPED.png);
    position: absolute; 
    left: 745px; 
    top: 595px; 
    width: 850px;
    height: 238px;
}

.tooltipTABLEEXPED {
    color: #DEDEDE;
    display:flex;
    justify-content: space-around;
    align-items: center;
    border:10px 1px #000000;
    width: inherit;
    height: inherit;
}

.exped-cell-one {
    width: 780px;
    top: -210px;
    font-size: xx-large;
}

.after-icon {
    content: url(./assets/energyIcon.png);
    width:23px;
    height:25px;
}

.exped-cell-two {
    width: 780px;
    font-size: 23px;
    text-justify: inter-word;
}

/* WISH (TABLE4) CSS */
.wish-counter {
    z-index: 1;
    position: absolute; 
    top:40px; 
    left:5px; 
    background:url(./assets/wishBG.png);
    background-size: 105%;
    background-position: center center;
    background-repeat: no-repeat;
    width:969px; 
    height:764px;
}

.wish-button {
    font-family: gi-font;
    position: absolute;
    top: 615px;
    left: 270px;
    width:412px;
    height:96px;
    
    background:url(./assets/wishButton.webp);
    font-size: 29px;
    color: #F8E8C7;
    text-shadow: #73603D 3px 3px 1px;
}

.wish-button:hover{
    filter: drop-shadow(0px 0px 2px #ffffff);
    transition: .3s ease;
}

.wish-button-new:active {
    transform:scale(0.95);
    transition: 0.1s ease;
}

.wish-button-new:after{
    content: url(./assets/primogemIcon.png);
}

.wish-mail-container {
    position: absolute;
    top: 0px;
    left: 140px;
    width: 634px;
    height: 528px;
}

.wish-mail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity 0.35s ease-in-out;
    -moz-transition: opacity 0.35s ease-in-out;
    -o-transition: opacity 0.35s ease-in-out;
    transition: opacity 0.35s ease-in-out;
}

/* ACHIEVEMENT (TABLE5) CSS */
.flex-container-ACHIEVEMENT {
    background-color: aqua;
    position: absolute; 
    top:45px; 
    left:5px; 
    width:969px;
    height:759px;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
}

.achieve {                                                  /* ADJUST IT TO THE LEFT, BELOW BUTTON */
    z-index:2;
    position: absolute; 
    top:685px; 
    width:593px;
    height:98px;
    text-align: center;
    background:url(./assets/achievement.png);
    background-size: 100%;
    background-position: 5px center;
    background-repeat: no-repeat;
}

.achieve:hover {
    transition: 0.4s ease;
    background-color: yellow;
}

.achieve-stored {
    z-index:1;
    width:400px;
    height:98px;
    text-align: center;
    background:url(./assets/achievement.png);
}

/* TOOLTIP UI (TABLE6) CSS */
.sideImg {
    position: absolute;
    left: 1279px;
    width: 382px;
    height: 869px;
}

#table-tab {
    position: absolute;
    top: 10px;
    right:140px;
    width: 100px;
    height: 10px;
}

.table6 {
    background: url(./assets/tooltips/background.webp);
    position: absolute; 
    top: 90px; 
    left: 1350px;
    width:275px;
    height:724px;
    display: flex;
    padding: 20px;
    flex-direction: column;
    gap: 10px 302px;
    align-items: center;
}

.table6 > div {
    padding-left: 5px;
    padding-right: 5px;
}

.tool-tip-name {
    font-size: 30px;
    text-align: center;
}

.tool-tip-text {
    font-size: 22px;
    text-align: center;
}

.tool-tip-lore {
    font-size: 20px;
    text-align: left;
}

.tool-tip-extraimg {
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: center;
}