.middle-area {
    background-image: url(../../assets/frames/bar-3.webp);
    border-color: var(--dull-purple);
}

.top-bar {
    content: url(../../assets/frames/top-bar-3.webp);
}

#adventure-tutorial {
    content: url(../../assets/icon/help-3.webp);
}

#table5-container {
    background-image: url(../../assets/bg/achievementBG-3.webp);
}

#left-div {
    background-image: url(../../assets/bg/bg-3.webp);
}

.adventure-map {
    background-image: url(../../assets/bg/advBg-3.webp);
}

body {
    background-image: url(../../assets/borderNew-3.webp);
}

#multiplierButton-1 > .multiplier-button-img {
    content: url(../../assets/settings/multi-1-3.webp);
}

#multiplierButton-2 > .multiplier-button-img {
    content: url(../../assets/settings/multi-2-3.webp);
}

#multiplierButton-3 > .multiplier-button-img {
    content: url(../../assets/settings/multi-3-3.webp);
}

.tooltipEXPED {
    background-color: var(--bright-purple);
}

.char-select {
    color: var(--dark-purple);
    background-color: var(--medium-purple);
    border-color: var(--dark-purple);
}

.tier-button {
    color: var(--medium-purple);
}

.tier-container > div {
    background-color: var(--medium-purple);
    border-color: var(--dull-purple);
    outline-color: var(--medium-purple);
}

.challenge-button-claimed {
    background-color: var(--bright-purple);
    border-color: var(--dark-purple);
}

.char-menu, #adventure-encounter > button {
    border-color: var(--dark-purple);
    background-color: var(--dull-purple);
}

.char-menu > div {
    border-color: var(--dark-purple);
}

.char-selected, #adventure-encounter > button {
    background-color: var(--bright-purple);
}

.char-menu > div:hover, #adventure-encounter > button:hover {
    background-color: var(--dark-purple);
}

.nut-store-access:hover {
    filter: drop-shadow(0 0 0.8em var(--medium-purple));
}

.floatingText, .floatingTextLow, .floatingCritText {
    color: var(--dark-purple);
}

#game, #start-screen {
    border-color: var(--dull-purple);
}