main {
    flex-grow: 1;
    overflow: hidden;
    padding: 1rem;
}

form {
    width: 100%;
    height: 100%;
    background-color: var(--light-green);
    border: 0.25em solid var(--bright-green);
    border-radius: 1em;
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.3rem;
}

input:focus, textarea:focus {
    outline: none;
}

input[type=text], textarea {
    border: 0.1rem solid #ccc;
    border-radius: 0.5em;
    width: 100%;
    margin-bottom: 0.6rem;
}

textarea {
    padding: 0.5rem;
    box-sizing: border-box;
    resize: none;
    flex-grow: 1;
    word-wrap: break-word;
    font: inherit;
    color: var(--dark-grey);
    scrollbar-color: var(--bright-green) var(--very-dark-green);
}

::-webkit-scrollbar-thumb {
    background-color: var(--bright-green);
    border-radius: 1rem;
}
  
::-webkit-scrollbar-thumb:hover {
    background-color: var(--very-dark-green);
}

input[type=text] {
    display: block;
    padding-left: 0.5rem;
    box-sizing: border-box;
    resize: none;
    height: 1.8rem;
    font-family: inherit;
    font-size: 1rem;
    color: var(--dark-grey);
}

label {
    text-align: left;
    justify-content: flex-start !important;
    width: 100%;
    height: 1.6rem;
    color: var(--very-dark-green);
    font-size: 1.2rem;
}

form > button {
    background-color: var(--bright-green);
    color: white;
    border-radius: 0.5em;
    width: 10rem;
    height: 2rem;
    font-size: 1rem;
    font-family: inherit;
}

form > button:hover {
    transition: 0.5s ease;
    background-color: #77c09a;
    color: black;
}

.file-submit {
    width: 100%;
}

input[type="file"] {
    font: inherit;
    color: var(--very-dark-green);
}

@media (min-width: 1200px) {
    main {
        width: 75%;
    }
}

@media (max-width: 1200px) {
    main {
        width: 80%;
    }
}

@media (max-width: 992px) {
    main {
        padding: 0.1rem;
        width: 90%;
    }

    form {
        padding: 0.5rem;
    }
}

@media (max-width: 768px) {
    main {
        width: 100%;
    }

    top {
        font-size: 1.2rem;
        justify-content: flex-start !important;
    }

    label {
        font-size: 1rem;
    }
}