@font-face {
    font-family: gi-font;
    src: url(../assets/gi-font.ttf);
    font-display: swap;
}

* {
    font-size: 20px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: var(--bright-brown) var(--very-dark-brown);
}

:root {
    --golden-ratio: 1.618;
    --light-green: #AAD4A5;
    --bright-green: #3D7250;
    --very-dark-green: #1c2f0e;
    --dark-grey: #363535;
    --light-grey: #eee9e9;
    --bright-brown: #68563d;
    --dark-brown: #6e6240;
    --very-dark-brown: #452b0a;
    --text-shadow-100: #3C3C3C 0.201rem 0.064rem 0, #3C3C3C 0.114rem 0.152rem 0, #3C3C3C 0.0495rem 0.182rem 0, #3C3C3C 0.114rem 0.172rem 0, #3C3C3C -0.0809rem 0.198rem 0, #3C3C3C -0.140rem 0.145rem 0, #3C3C3C -0.209rem 0.0259rem 0, #3C3C3C -0.206rem -0.0373rem 0, #3C3C3C -0.138rem -0.138rem 0, #3C3C3C -0.0800rem -0.159rem 0, #3C3C3C -0.0164rem -0.165rem 0, #3C3C3C 0.0535rem -0.159rem 0, #3C3C3C 0.118rem -0.148rem 0, #3C3C3C 0.127rem -0.102rem 0, #3C3C3C 0.183rem -0.0524rem 0;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--bright-brown);
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--very-dark-brown);
}

html {
    position: relative;
    cursor: url(../assets/icon/cursor.webp), auto;
    overflow: hidden;
    font-family: 'gi-font';
    width: 100%;
    height: 100%;
}

html::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: brightness(0.3);
    background: url(../assets/bg/bg.webp) center center/cover no-repeat;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}

body > main {
    position: relative;
    margin-top: 3.5rem;
}

button {
    font: inherit;
    background-color: transparent;
    border: none;
    color: var(--light-grey);
}

p {
    overflow-wrap: break-word;
    hyphens: none;
}

header-component {
    position: fixed;
    width: 100%;
    background-color: var(--bright-green);
    padding: 0.5rem;
    height: 3.5rem;
    border-bottom: 0.2rem solid var(--very-dark-green);
    z-index: 99999;
}

header {
    height: 100%;
    width: 100%;
}

header, nav {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    font-size: calc(1rem * var(--golden-ratio))
}

.clickable {
    transition: 0.3s ease;
}

.clickable:hover {
    transform: scale(1.1);
}

header img {
    height: 100%;
    max-width: 50vw;
    object-fit: contain;
    
}

.logo-link {
    height: inherit;
}

nav {
    width: fit-content;
    column-gap: 1.5rem;
    justify-content: flex-start;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    font: inherit;
    font-size: 1.2rem;
    text-decoration: none; 
    cursor: url(../assets/icon/cursor.webp), auto;
    color: var(--light-grey);
}

nav > a:hover {
    border-bottom: 0.1rem solid var(--light-grey);
}

.play-button {
    height: 3rem;
    width: auto;
    aspect-ratio: 3.3;
    background: url(../assets/frames/wishButton-short.webp) center center/contain no-repeat;
    font-size: 1.4rem;
    color: #F8E8C7;
    text-shadow: #73603D 0.15rem 0.15rem 0.1rem;
}

.play-button:hover {
    filter: drop-shadow(0 0 0.2rem #F8E8C7);
    transition: .3s ease;
}

.burger, .mobile-hidden {
    display: none;
}

.flex-column, .flex-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-row {
    flex-direction: row;
}

#burgerMenu {
    position: absolute;
    top: calc(100% + 0.1rem);
    right: 0;
    width: 100%;
    height: fit-content;
    background-color: var(--very-dark-green);
    font-size: 1.4rem;
    padding: 0.5rem;
    z-index: 9999;
    border-bottom: 0.1rem solid var(--bright-green);
}

#burgerMenu > a {
    width: 100%;
    border-bottom: 0.1rem solid var(--light-green);
    color: var(--light-green);
    margin-bottom: 1.6rem;
}

#burgerMenu > .play-button {
    margin-top: -0.5rem;
    margin-bottom: 0.5rem;
    color: white;
    border: none;
}

blocker {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100rem;
}

.hide-tester::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: var(--very-dark-green);
}

.hide-tester::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    width: 50%;
    max-height: 500px;
    aspect-ratio: 10 / 7;
    z-index: 100;
    transform: translate(-50%, -60%);
    background: url(../assets/title/construction.webp) center center/contain no-repeat
}

/* ---------MOBILE CSS--------- */
@media only screen and (max-width: 1200px) {
    header {
        justify-content: space-between;
    }
}

@media (min-width: 1000px) {
    #burgerMenu {
        display: none;
    }
}

@media only screen and (max-width: 1000px) {
    .burger {
        display: block;
    }

    nav {
        display: none;
    }

    .hide-tester::after {
        width: 100%;
        max-height: 70%;
    }

    
    * {
        scrollbar-width: 6px;
    }

    ::-webkit-scrollbar {
        width: 6px;
    }
    
}