<!doctype html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8" />
    <title>Clicker</title>

    <script src="//cdn.jsdelivr.net/npm/phaser@3.11.0/dist/phaser.js"></script>
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico">
    <style type="text/css">
        button {
            border: 0px;
        }

        body {
            position: relative; 
            font-family: 'gi-font';
            padding-top: 10px #000000;
            background:url(./assets/bg1\(3\).png);
            background-repeat: no-repeat;
        }

        *:hover {
            cursor: url(./assets/cursor.png), auto;   
        }

/* 
        .tabs-box {
            position: absolute; 
            right: 100px; 
            top: 30px;
            width: 700px;
            height:60px;
            justify-content: space-evenly;
        } */
    </style>

</head>
<body id="bodyID">
    <p>
        <span id="display">0</span>
        <span id="score">0</span>
        <span id="debug">0</span>
        
        <div class="flex-container-TAB">
            <button onclick="tabChange(1)"  class="tab-button" style="background:url(./assets/tab1.png);">
            <button onclick="tabChange(2)" class="tab-button" style="background:url(./assets/tab2.png);">
            <button onclick="tabChange(3)" class="tab-button" style="background:url(./assets/tab3.png);">
            <button onclick="tabChange(4)" class="tab-button" style="background:url(./assets/tab4.png);">
            <button onclick="tabChange(5)" class="tab-button" style="background:url(./assets/tab5.png);">
        </div>

        <div id="demo-container"></div>
    </p>

    <table>
        <table id="table1" class="uiTab" style="position: absolute; top:52px;">
            <tr></tr>
        </table>
        <div id="table2" class="uiTab flex-container-INVENTORY" style="position: absolute; top:40px;"></div>
        <div id="table3" class="uiTab container" style="position: absolute; top:67px; left:-25px; width: 1000px;height: 650px;">
            <div id="container-2-ID" class="flex-container-EXPEDITION">
                    <button class="fade expedition" onclick="adventure(1)" style="background:url(./assets/exped1.png);"></button>
                    <button class="fade expedition" onclick="adventure(2)" style="background:url(./assets/exped2.png);"></button>
                    <button class="fade expedition" onclick="adventure(3)" style="background:url(./assets/exped3.png);"></button>
                    <button class="fade expedition" onclick="adventure(4)" style="background:url(./assets/exped4.png);"></button>
                    <button class="fade expedition" onclick="adventure(5)" style="background:url(./assets/exped5.png);"></button>
            </div>
        </div>
        <table id="table4" class="uiTab" style="position: absolute; top:40px;">
            <tr>
                <td><button class="wish" onclick="wish()" style="background:url(./assets/dtYuX7OUH42y-wPmk6TgAg.jpg);"></button</td>
            </tr>
        </table>
        <table id="table5" class="uiTab" style="position: absolute; top:40px;">
            <tr></tr>
        </table>
    </table>

<script type="text/javascript">
    var realCount = 0;
    var realScore = 0;
    var freeLevels = 0;
    var factor = 1;
    var energy = 100000;

    var rowCount = 0;
    var itemCount = 0;

    var energyChance = 100;
    var upperEnergyRate = 15;
    var lowerEnergyRate = 7;
    var clickDelay = 10;
    
    // RMB TO UPDATE CONSTANTS

    var upgradeDict = {
        0: {Name: "Nahida",      Row:-1,  Level: 1,       Factor: 10,     Cost: 10,   Purchased: -1,   Type: "Catalyst",   Ele: "Dendro"},
        1: {Name: "Traveller",   Row:-1,  Level: 6,       Factor: 199,    Cost: 20,   Purchased: -1,   Type: "Sword",      Ele: ""},
        2: {Name: "Collei",      Row:-1,  Level: 7,       Factor: 299,    Cost: 30,   Purchased: -1,   Type: "Bow",        Ele: "Dendro"},
        3: {Name: "Cyno",        Row:-1,  Level: 9,       Factor: 499,    Cost: 40,   Purchased: -1,   Type: "Polearm",   Ele: "Electro"},
        4: {Name: "Candace",     Row:-1,  Level: 12,      Factor: 299,    Cost: 40,   Purchased: -1,   Type: "Polearm",   Ele: "Hydro"},
        5: {Name: "Dori",        Row:-1,  Level: 15,      Factor: 299,    Cost: 40,   Purchased: -10,  Type: "Claymore",   Ele: "Electro"},
        6: {Name: "Tighnari",    Row:-1,  Level: 20,      Factor: 299,    Cost: 40,   Purchased: -1,   Type: "Bow",      Ele: "Dendro"},
        7: {Name: "Nilou",       Row:-1,  Level: 29,      Factor: 299,    Cost: 40,   Purchased: -1,   Type: "Sword",     Ele: "Hydro"},
        8: {Name: "Layla",       Row:-1,  Level: 39,      Factor: 299,    Cost: 40,   Purchased: -1,   Type: "Sword",     Ele: "Cryo"},
        9: {Name: "Faruzan",     Row:-1,  Level: 49,      Factor: 299,    Cost: 40,   Purchased: -1,   Type: "Bow",       Ele: "Anemo"},
        10: {Name: "Dehya",      Row:-1,  Level: 59,      Factor: 299,    Cost: 40,   Purchased: -1,   Type: "Claymore",   Ele: "Pyro"},
        11: {Name: "Alhaitham",  Row:-1,  Level: 69,      Factor: 299,    Cost: 40,   Purchased: -1,   Type: "Sword",    Ele: "Dendro"},
        12: {Name: "Amber",      Row:-1,  Level: 78,      Factor: 399,    Cost: 40,   Purchased: -1,   Type: "Bow",      Ele: "Pyro"},
        13: {Name: "Bennett",    Row:-1,  Level: 88,      Factor: 399,    Cost: 40,   Purchased: -1,   Type: "Sword",      Ele: "Pyro"},
        14: {Name: "Noelle",     Row:-1,  Level: 98,      Factor: 399,    Cost: 40,   Purchased: -1,   Type: "Claymore",      Ele: "Geo"},
        15: {Name: "Barbara",    Row:-1,  Level: 108,     Factor: 399,    Cost: 40,   Purchased: -1,   Type: "Catalyst",      Ele: "Hydro"},
        16: {Name: "Lisa",       Row:-1,  Level: 118,     Factor: 399,    Cost: 40,   Purchased: -1,   Type: "Catalyst",      Ele: "Electro"},
        17: {Name: "Kaeya",      Row:-1,  Level: 128,     Factor: 399,    Cost: 40,   Purchased: -1,   Type: "Sword",      Ele: "Cryo"},
        18: {Name: "Diluc",      Row:-1,  Level: 138,     Factor: 399,    Cost: 40,   Purchased: -1,   Type: "Claymore",      Ele: "Pyro"},
        19: {Name: "Diona",      Row:-1,  Level: 148,       Factor: 399,    Cost: 40,   Purchased: -1,   Type: "Bow",      Ele: "Cryo"},
        20: {Name: "Fischl",     Row:-1,  Level: 158,       Factor: 399,    Cost: 40,   Purchased: -1,   Type: "Bow",      Ele: "Electro"},
        21: {Name: "Mona",       Row:-1,  Level: 168,       Factor: 399,    Cost: 40,   Purchased: -1,   Type: "Catalyst",      Ele: "Hydro"},
        22: {Name: "Rosaria",    Row:-1,  Level: 178,       Factor: 399,    Cost: 40,   Purchased: -1,   Type: "Polearm",      Ele: "Cryo"},
        23: {Name: "Klee",       Row:-1,  Level: 188,       Factor: 399,    Cost: 40,   Purchased: -1,   Type: "Catalyst",      Ele: "Pyro"},
        24: {Name: "Razor",      Row:-1,  Level: 188,       Factor: 399,    Cost: 40,   Purchased: -1,   Type: "Claymore",      Ele: "Electro"},
        25: {Name: "Sucrose",    Row:-1,  Level: 198,       Factor: 399,    Cost: 40,   Purchased: -1,   Type: "Catalyst",      Ele: "Anemo"},
        26: {Name: "Xiangling",  Row:-1,  Level: 228,       Factor: 399,    Cost: 40,   Purchased: -1,   Type: "Polearm",      Ele: "Pyro"},
        27: {Name: "Xingqiu",    Row:-1,  Level: 248,       Factor: 399,    Cost: 40,   Purchased: -1,   Type: "Sword",      Ele: "Hydro"},
        28: {Name: "Chongyun",   Row:-1,  Level: 268,       Factor: 399,    Cost: 40,   Purchased: -1,   Type: "Claymore",      Ele: "Cryo"},
        29: {Name: "Xinyan",     Row:-1,  Level: 288,       Factor: 399,    Cost: 40,   Purchased: -1,   Type: "Claymore",      Ele: "Pyro"},
        30: {Name: "Yun Jin",    Row:-1,  Level: 348,       Factor: 399,    Cost: 40,   Purchased: -1,   Type: "Polearm",      Ele: "Geo"},
        31: {Name: "Beidou",     Row:-1,  Level: 368,       Factor: 399,    Cost: 40,   Purchased: -1,   Type: "Claymore",      Ele: "Electro"},
        32: {Name: "Ningguang",  Row:-1,  Level: 408,       Factor: 399,    Cost: 40,   Purchased: -1,   Type: "Catalyst",      Ele: "Geo"},
        33: {Name: "Ganyu",      Row:-1,  Level: 438,       Factor: 399,    Cost: 40,   Purchased: -1,   Type: "Bow",      Ele: "Cryo"},
        34: {Name: "Keqing",     Row:-1,  Level: 478,       Factor: 399,    Cost: 40,   Purchased: -1,   Type: "Sword",      Ele: "Electro"},
        35: {Name: "Yanfei",     Row:-1,  Level: 508,       Factor: 399,    Cost: 40,   Purchased: -1,   Type: "Catalyst",      Ele: "Pyro"},
        36: {Name: "Kazuha",     Row:-1,  Level: 558,       Factor: 399,    Cost: 40,   Purchased: -1,   Type: "Sword",      Ele: "Anemo"},
        37: {Name: "Thoma",      Row:-1,  Level: 598,       Factor: 399,    Cost: 40,   Purchased: -1,   Type: "Polearm",      Ele: "Pyro"},
        38: {Name: "Yoimiya",    Row:-1,  Level: 618,       Factor: 399,    Cost: 40,   Purchased: -1,   Type: "Bow",      Ele: "Pyro"},
        39: {Name: "Ayaka",      Row:-1,  Level: 638,       Factor: 399,    Cost: 40,   Purchased: -1,   Type: "Sword",      Ele: "Cryo"},
        40: {Name: "Gorou",      Row:-1,  Level: 678,       Factor: 399,    Cost: 40,   Purchased: -1,   Type: "Bow",      Ele: "Geo"},
        41: {Name: "Kokomi",     Row:-1,  Level: 708,       Factor: 399,    Cost: 40,   Purchased: -1,   Type: "Catalyst",      Ele: "Hydro"},
        42: {Name: "Sayu",       Row:-1,  Level: 758,       Factor: 399,    Cost: 40,   Purchased: -1,   Type: "Claymore",      Ele: "Anemo"},
        43: {Name: "Heizou",     Row:-1,  Level: 808,       Factor: 399,    Cost: 40,   Purchased: -1,   Type: "Catalyst",      Ele: "Anemo"},
        44: {Name: "Shinobu",    Row:-1,  Level: 838,       Factor: 399,    Cost: 40,   Purchased: -1,   Type: "Sword",      Ele: "Electro"},
        45: {Name: "Itto",       Row:-1,  Level: 908,       Factor: 399,    Cost: 40,   Purchased: -1,   Type: "Claymore",      Ele: "Geo"},
        46: {Name: "Sara",       Row:-1,  Level: 968,       Factor: 399,    Cost: 40,   Purchased: -1,   Type: "Bow",      Ele: "Electro"},
        47: {Name: "Venti",      Row:-1,  Level: 1000,      Factor: 110,    Cost: 120,  Purchased: -1,   Type: "Bow",   Ele: "Anemo"},
        48: {Name: "Zhongli",    Row:-1,  Level: 1250,      Factor: 110,    Cost: 410,  Purchased: -1,   Type: "Polearm",   Ele: "Geo"},
        49: {Name: "Raiden",     Row:-1,  Level: 1500,      Factor: 110,    Cost: 40,   Purchased: -1,   Type: "Polearm",   Ele: "Electro"},
// RMB TO UPDATE MAX CONSTANTS// RMB TO UPDATE MAX CONSTANTS// RMB TO UPDATE MAX CONSTANTS// RMB TO UPDATE MAX CONSTANTS// RMB TO UPDATE MAX CONSTANTS
        100: {Name: "Jean",        Row:-1,  Level: 0,       Factor: 0,    Cost: 40,   Purchased: -10,   Type: "Sword",   Ele: "Anemo"},
        101: {Name: "Albedo",      Row:-1,  Level: 0,       Factor: 0,    Cost: 40,   Purchased: -10,   Type: "Sword",   Ele: "Geo"},
        102: {Name: "Qiqi",        Row:-1,  Level: 0,       Factor: 0,    Cost: 40,   Purchased: -10,   Type: "Sword",   Ele: "Cryo"},
        103: {Name: "Yelan",       Row:-1,  Level: 0,       Factor: 0,    Cost: 40,   Purchased: -10,   Type: "Bow",   Ele: "Hydro"},
        104: {Name: "Shenhe",      Row:-1,  Level: 0,       Factor: 0,    Cost: 40,   Purchased: -10,   Type: "Polearm",   Ele: "Cryo"},
        105: {Name: "Ayato",       Row:-1,  Level: 0,       Factor: 0,    Cost: 40,   Purchased: -10,   Type: "Sword",   Ele: "Hydro"},
        106: {Name: "Yae Miko",    Row:-1,  Level: 0,       Factor: 0,    Cost: 40,   Purchased: -10,   Type: "Catalyst",   Ele: "Electro"},
        107: {Name: "Eula",        Row:-1,  Level: 0,       Factor: 0,    Cost: 40,   Purchased: -10,   Type: "Claymore",   Ele: "Cryo"},
        108: {Name: "Hu Tao",      Row:-1,  Level: 0,       Factor: 0,    Cost: 40,   Purchased: -10,   Type: "Polearm",   Ele: "Pyro"},
        109: {Name: "Xiao",        Row:-1,  Level: 0,       Factor: 0,    Cost: 40,   Purchased: -10,   Type: "Polearm",   Ele: "Anemo"},
        110: {Name: "Tartaglia",   Row:-1,  Level: 0,       Factor: 0,    Cost: 40,   Purchased: -10,   Type: "Bow",   Ele: "Hydro"},
        111: {Name: "Scaramouche", Row:-1,  Level: 0,       Factor: 0,    Cost: 40,   Purchased: -10,   Type: "Catalyst",   Ele: "Anemo"},
    }


    // RMB TO UPDATE MAX CONSTANTS
    var Inventory = {
        1001: {Name:"coolSteel",      Star:3,  Type:"Sword"},
        1002: {Name:"ferrous",        Star:3,  Type:"Claymore"},
        1003: {Name:"mappa",          Star:4,  Type:"Catalyst"},
        1004: {Name:"rust",           Star:4,  Type:"Bow"},
        1005: {Name:"silverSword",    Star:2,  Type:"Sword"},
        1006: {Name:"dullSword",      Star:1,  Type:"Sword"},
        1007: {Name:"skywardBlade",   Star:5,  Type:"Sword"},
        1008: {Name:"harbingerDawn",  Star:3,  Type:"Sword"},
        1009: {Name:"travelerHandySword",      Star:3,  Type:"Sword"},
        1010: {Name:"sacSword",          Star:3,  Type:"Sword"},
        1011: {Name:"lionsRoar",           Star:3,  Type:"Sword"},
        1012: {Name:"aquilaFavonia",           Star:5,  Type:"Sword"},
        
    // RMB TO UPDATE MAX CONSTANTS
    // RMB TO UPDATE MAX CONSTANTS
    // RMB TO UPDATE MAX CONSTANTS
    // RMB TO UPDATE MAX CONSTANTS
    // RMB TO UPDATE MAX CONSTANTS
        2001: {Name:"gladiator",      Star:4},
        2002: {Name:"deepwood",       Star:5},
        2003: {Name:"crimWitch",      Star:5},
    // RMB TO UPDATE MAX CONSTANTS
        3001: {Name:"masalaCheese",   Star:2,                     BuffTemp:10},
        3002: {Name:"jueyunchili",    Star:2,                     BuffTemp:10},

        4001: {Name:"wandererEXP",    Star:2,                     BuffLvl:3},
        4002: {Name:"adventureEXP",   Star:3,                     BuffLvl:5},
        4003: {Name:"heroEXP",        Star:4,                     BuffLvl:10},
    }

    var tooltip = {
    Nahida:{text:"A caged bird secluded within the confines of the Sanctuary of Surasthana who can only see the world in her dreams."},
    Traveller:{text:"The keeper is fading away; the creator has not yet come.But the world shall burn no more, for you shall ascend."},
    }

    const weaponBuffPercent = [0, 100, 200, 300, 400, 1000];
    const artifactBuffPercent = [0, 1.02, 1.05, 1.10, 1.20, 1.35];

    
    const WEAPONMAX = 1009;
    const ARTIFACTMAX = 2004;
    const FOODMAX = 3003;
    const XPMAX = 4004;

    const NONWISHHEROMAX = 49
    const WISHHEROMIN = 100;
    const WISHHEROMAX = 112;
    const WISHCOST = 10;
    const STARTINGWISHFACTOR = 50;

    var wishMultiplier = 0;
    var wishCounter = WISHHEROMAX - WISHHEROMIN;

    const ADVENTURECOSTS = [0, 100, 200, 300, 400, 500];
    const ADVENTUREFAILURE = [0, 0, 5, 10, 20, 30];

    var demoContainer = document.getElementById("demo-container");
    var score = document.getElementById("score");
    var disp = document.getElementById("display");
    var debug = document.getElementById("debug");

    var table1 = document.getElementById("table1");
    var table2 = document.getElementById("table2");
    var table3 = document.getElementById("table3");
    var table4 = document.getElementById("table4");
    var table5 = document.getElementById("table5");
    const TABS = [table1,table2, table3, table4, table5]

    // MAIN BODY VARIABLES
    var mainBody = document.getElementById("bodyID");
    table6 = document.createElement("table");
    mainBody.appendChild(table6);
    table6.style = "position: absolute; top:100px; left: 1350px; width:300px; height:500px;";

    // TOOLTIPS
    var tooltipTop = (table6.insertRow(0)).insertCell(0);
    tooltipTop.align = "center"
    tooltipTop.style = "height:300px"

    var toolImg = document.createElement("img");
    toolImg.src = "./assets/tooltips/empty.png";
    toolImg.style ="width:250px;height:250px;";
    
    // TOOLTIP UI
    tooltipTop.appendChild(toolImg);
    var tooltipText = (table6.insertRow(1)).insertCell(0);

    function changeTooltip(name) {
        tooltipContent = tooltip[name].text;
        tooltipText.innerText = tooltipContent;
        toolImg.src = "./assets/tooltips/"+name+".png";
    }

    function clearTooltip() {
        tooltipText.innerText = "";
        toolImg.src = "./assets/tooltips/empty.png";
    }

    // ACHIEVEMENTS
    function createAchievement() {
        achievementPopUp = document.createElement("button");
        mainBody.appendChild(achievementPopUp);
        achievementPopUp.classList += "achieve"
        achievementPopUp.onclick = achievementPopUp.remove;
    }

    var goal1 = true;

    function checkAchievement() {
        if (goal1) {
            if (realScore >= 300) {
                createAchievement();
                goal1 = false;
            }
        }
            
    }

    var timer = setInterval(checkAchievement,1000);


    // INITIAL LOADING
    tabChange(1)
    refresh();

    realScore++;
    addNewRow();
    realScore--;

    // CHANGE TABS
    function tabChange(x) {
        for (tab in TABS){
            TABS[tab].style.display = "none";
        }
        TABS[x - 1].style.display = "flex";
    }

    // BIG BUTTON FUNCTIONS
    demoContainer.innerHTML += "<span id='demo'></span>";

    demo.onclick = function() {
        realCount += 1 * factor
        realScore += 1 * factor
        energyRoll();
        refresh();
        addNewRow();
    }

    demo.onmousedown = function() {
        demo.style.width = "92%";
        demo.style.height = "92%";
        demo.style["margin-top"] = '4%';
        demo.style["margin-left"] = '4%';
    }

    function mouseOver() {
        demo.style.width = "98%";
        demo.style.height = "98%";
        demo.style["margin-top"] = '1%';
        demo.style["margin-left"] = '1%';
    }

    demo.onmouseover = function () {
        mouseOver();
    };
    
    demo.onmouseup = function () {
        mouseOver()
    };

    demo.onmouseout = function() {
        demo.style.width = "95%";
        demo.style.height = "95%";
        demo.style["margin-top"] = '2.5%';
        demo.style["margin-left"] = '2.5%';
    }

   // RANDOM NUMBER GENERATOR
    function randomInteger(min, max) {
        return Math.floor(Math.random() * (max - min) ) + min;
    }

    // ROLL FOR ENERGY
    function energyRoll() {
        let randInt = Math.floor(Math.random() * 1000);
        clickDelay--;

        if (clickDelay < 1){
            if (randInt < energyChance){
                energy += randomInteger(lowerEnergyRate, upperEnergyRate);
                clickDelay = 10;
            }
        }
    }

    // SPAWN NEW HEROES IN LIST
    function addNewRow() {
        for (let i = 0; i < WISHHEROMAX; i++) {
            if (i < WISHHEROMIN && i > NONWISHHEROMAX) continue;
            if (realScore >= upgradeDict[i].Level && upgradeDict[i].Purchased == -1){
                let newRow = table1.insertRow(-1);
                let newCell = newRow.insertCell(0);

                upgradeDict[i].Row = rowCount;
                upgradeDict[i].Purchased = 0;
                
                if (upgradeDict[i].Level == 0) {
                    var heroText = "Summon " + upgradeDict[i].Name + " for help. (" + upgradeDict[i].Cost + ")";
                } else if (i == 0) {
                    var heroText = "Level Up Nahida (" + upgradeDict[i].Cost + ")";
                } else {
                    var heroText = "Call for " + upgradeDict[i].Name + "'s help... (" + upgradeDict[i].Cost + ")";
                }
                
                var heroButtonContainer = document.createElement("div");
                var heroFront = "background:url(./assets/button-3.png)";
                let toolName = "'"+upgradeDict[i].Name+"'";
                
                heroButtonContainer.innerHTML += '<button onclick="upgrade(this.id)" onmouseover="changeTooltip('+toolName+')" onmouseout="clearTooltip()" class="upgrade" id="but-'+rowCount+'"" style='+ heroFront +'>'+heroText+'</button>'
                heroButtonContainer.classList += 'hero-glow'

                newCell.appendChild(heroButtonContainer);
                rowCount++;
            }
        }
    }
    
    // UPGRADE HEROES
    function upgrade(clicked_id) {
        var butIdArray = clicked_id.split("-")[1];
        for (let i = 0; i < WISHHEROMAX; i++) {
            if (i < WISHHEROMIN && i > NONWISHHEROMAX) continue;
            if (upgradeDict[i].Row == butIdArray) {
                var currentPrice = upgradeDict[i].Cost * (1.15 ** ((upgradeDict[i].Purchased)));;
                currentPrice = Math.round(currentPrice);

                let freePass = false;
                if (freeLevels > 0){
                    freePass = true;
                }
                if (realScore >= currentPrice || freePass == true) {
                    factor += upgradeDict[i].Factor;
                    if (freePass == true) {
                        realScore += currentPrice;
                        freeLevels--;
                    }
                    realScore -= currentPrice;
                    upgradeDict[i].Purchased += 1;

                    var nextPrice = upgradeDict[i].Cost * (1.15 ** ((upgradeDict[i].Purchased)));;
                    nextPrice = Math.round(nextPrice);
                    refresh(clicked_id, nextPrice, i);
                }
                freePass == false;
            }
        }
    }

    // ADD TO INVENTORY 
    function inventoryAdd(idNum) {
        itemCount++;
        var itemUniqueID = "item-" + idNum + "-" + itemCount;
        table2.innerHTML += '<button id='+ itemUniqueID +' onclick="itemUse(this.id)" class="inventoryButton" style="background:url(./assets/inventory/'+ Inventory[idNum].Name +'.jpg);background-repeat: no-repeat;background-size: 128px 144px;"></button>'
    }
    
    // INVENTORY UI
    function itemUse(itemUniqueId) {
        let item = document.getElementById(itemUniqueId);
        let itemID = itemUniqueId.split("-")[1];
        if (itemID >= 1001 && itemID < WEAPONMAX){
            for (let i = 0; i < Object.keys(upgradeDict).length; i++) {
                if (i < WISHHEROMIN && i > NONWISHHEROMAX) continue;
                if (upgradeDict[i].Purchased > 0){
                    if (upgradeDict[i].Type == Inventory[itemID].Type){
                        upgradeDict[i].Factor += weaponBuffPercent[Inventory[itemID].Star];
                        refresh("hero", i);
                    }
                }
            }
        } else if (itemID >= 2001 && itemID < ARTIFACTMAX){
            for (let i = 0; i < Object.keys(upgradeDict).length; i++) {
                if (i < WISHHEROMIN && i > NONWISHHEROMAX) continue;
                if (upgradeDict[i].Purchased > 0){
                    upgradeDict[i].Factor *= artifactBuffPercent[Inventory[itemID].Star];
                    upgradeDict[i].Factor = Math.round(upgradeDict[i].Factor);
                    refresh("hero", i);
                }
            }
        }  else if (itemID >= 4001 && itemID <  XPMAX){
            freeLevels += Inventory[itemID].BuffLvl;
            refresh();
        }
        item.remove();
    }

    // EXPEDITION UI
    // RMB THERES A CHANCE OF FAILURE, IT IS NOT A BUG IF NOTHING HAPPENS
    function adventure(type) {
        if (energy >= ADVENTURECOSTS[type]){
            energy -= ADVENTURECOSTS[type];
            refresh();

            let randInt = randomInteger(0, 99);
            if (randInt < ADVENTUREFAILURE[type]){
                return;
            } else {
                if (type == 1){
                inventoryDraw("artifact", 1, 4);
                inventoryDraw("weapon", 1, 2);
                inventoryDraw("xp", 2, 2);
                inventoryDraw("food", 1, 3);
                }
                if (type == 2){
                    inventoryDraw("xp", 2, 2);
                    inventoryDraw("food", 2, 3);
                    inventoryDraw("artifact", 2, 4);
                    
                }
                if (type == 3){
                    inventoryDraw("xp", 2, 3);
                    inventoryDraw("artifact", 3, 4);
                    inventoryDraw("food", 2, 4);
                    inventoryDraw("weapon", 2, 4);
                    
                }
                if (type == 4){
                    inventoryDraw("weapon", 3, 4);
                    inventoryDraw("artifact", 3, 4);
                    inventoryDraw("xp", 3, 4);
                    inventoryDraw("food", 2, 4);
                    }
                if (type == 5){
                    inventoryDraw("artifact", 4, 5);
                    inventoryDraw("weapon", 4, 5);
                    inventoryDraw("food", 2, 5);
                    inventoryDraw("xp", 4, 4);
                }
            }
        }  
    }

    // DRAWS FOR RANDOM INVENTORY LOOT 
    function inventoryDraw(itemType, min, max){
        var upperInventoryType = {"weapon": WEAPONMAX, "artifact": ARTIFACTMAX, "food": FOODMAX, "xp": XPMAX};
        var lowerInventoryType = {"weapon": 1001, "artifact": 2001, "food": 3001, "xp": 4001};
        let temp = 0;
        while (true){
            temp = randomInteger(lowerInventoryType[itemType], upperInventoryType[itemType])
            if (Inventory[temp].Star >= min && Inventory[temp].Star < (max + 1)) {
                inventoryAdd(temp);
                break;
            } else {
                continue;
            }
        }
    }

    // DRAWS FOR SPECIAL HEROS
    function wish() {
        if (energy > WISHCOST) {
            energy -= WISHCOST;
            refresh();
            
            while (wishCounter) {
                let i = randomInteger(WISHHEROMIN, WISHHEROMAX)
                if (upgradeDict[i].Purchased >= -1) {
                    continue;
                } else {
                    upgradeDict[i].Purchased = -1;
                    upgradeDict[i].Factor = Math.round(factor * (STARTINGWISHFACTOR + wishMultiplier)/30);
                    upgradeDict[i].Cost = Math.round(factor * (20));

                    wishMultiplier += 5;
                    wishCounter--;
                    addNewRow();
                    break;
                }
            }
        }
    }

    // REFRESH SCORES & ENERGY
    function refresh(...arguments) {
        score.innerHTML = "Score: " + realScore;
        disp.innerHTML = "Energy: " + energy;
        debug.innerHTML = "Free Levels: " + freeLevels;

        if (arguments[0] != undefined){
            if (arguments[0].includes("but-")){
                var heroText =  upgradeDict[arguments[2]].Name + ": " + arguments[1] + ", ATK: " + upgradeDict[arguments[2]].Factor;
                let upgradedHeroButton = document.getElementById(arguments[0])
                upgradedHeroButton.innerText = heroText;
                upgradedHeroButton.style = "background:url(./assets/nahida.webp);  background-size: 90%; background-position: 25% center; background-repeat: no-repeat;";
                
            }
        } else if (arguments[0] == "hero"){
            var heroText =  upgradeDict[arguments[1]].Name + ": " +arguments[1] + ", ATK: " + upgradeDict[arguments[1]].Factor;
            let id="but-" + arguments[1].rowCount + "";
            document.getElementById(id).innerText = heroText;
        }
    }
    

</script>
</body>
</html>