<!doctype html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8" />
    <title>nahidaQuest!</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico">
    <style type="text/css">
        button {
            border: 0px;
        }

        body {
            position: relative;
            font-family: 'gi-font';
            padding-top: 10px #000000;
        }

        *:hover {
            cursor: url(./assets/cursor.png), auto;   
        }
    </style>

</head>
<body id="bodyID">
    <p id="para">
        <div class="score-container">
            <span id="energy">0</span>
            <span id="score">0</span>              <!------------------------ CHANGE TO P LATER -->
            <span id="dps">0</span>
            <span id="primogem">0</span>
        </div>
        
        <div class="flex-container-TAB">
            <button onclick="tabChange(1)"  class="tab-button" style="background:url(./assets/tab1.png);">
            <button onclick="tabChange(2)" class="tab-button" style="background:url(./assets/tab2.png);">
            <button onclick="tabChange(3)" class="tab-button" style="background:url(./assets/tab3.png);">
            <button onclick="tabChange(4)" class="tab-button" style="background:url(./assets/tab4.png);">
            <button onclick="tabChange(5)" class="tab-button" style="background:url(./assets/tab5.png);">
        </div>

        <div id="demo-container"></div>
    </p>

    <table>
        <table id="table1" class="uiTab" style="position: absolute; left: 10px; top:45px; width: 650px; height: 760px;">
            <tr></tr>
        </table>
        <div id="table2" class="uiTab flex-container-INVENTORY" style="position: absolute; top:40px;"></div>
        <div id="table3" class="uiTab flex-container-EXPEDITION" style="position: absolute; top:55px; left: 12px; width:950px;"></div>
        <table id="table4" class="uiTab" style="position: absolute; top:40px;">
            <tr>
                <td><button class="wish" onclick="wish()" style="background:url(./assets/dtYuX7OUH42y-wPmk6TgAg.jpg);"></button</td>
            </tr>
        </table>
        <table id="table5" class="uiTab flex-container-ACHIEVEMENT">
            <tr></tr>
        </table>
    </table>

<script type="text/javascript">
    var clickCount = 0;
    var clickFactor = 1;
    var dps = 0;
    var realScore = 0;

    var freeLevels = 0;
    var primogem = 0;
    var energy = 100000;

    var rowCount = 0;
    var itemCount = 0;

    var energyChance = 100000;
    var upperEnergyRate = 15;
    var lowerEnergyRate = 7;
    var clickDelay = 10;
    
    // RMB TO UPDATE CONSTANTS

    var upgradeDict = {
        0: {Name: "Nahida",      Row:-1,  Level: 1,   Cost:20, Factor:1,        Purchased: -1,   Type: "Catalyst",   Ele: "Dendro"},
        1: {Name: "Traveller",   Row:-1,  Level: 6,            Purchased: -1,   Type: "Sword",      Ele: ""},
        2: {Name: "Collei",      Row:-1,  Level: 7,            Purchased: -1,   Type: "Bow",        Ele: "Dendro"},
        3: {Name: "Cyno",        Row:-1,  Level: 9,            Purchased: -1,   Type: "Polearm",   Ele: "Electro"},
        4: {Name: "Candace",     Row:-1,  Level: 12,           Purchased: -1,   Type: "Polearm",   Ele: "Hydro"},
        5: {Name: "Dori",        Row:-1,  Level: 15,           Purchased: -10,  Type: "Claymore",   Ele: "Electro"},
        6: {Name: "Tighnari",    Row:-1,  Level: 20,           Purchased: -1,   Type: "Bow",      Ele: "Dendro"},
        7: {Name: "Nilou",       Row:-1,  Level: 29,           Purchased: -1,   Type: "Sword",     Ele: "Hydro"},
        8: {Name: "Layla",       Row:-1,  Level: 39,           Purchased: -1,   Type: "Sword",     Ele: "Cryo"},
        9: {Name: "Faruzan",     Row:-1,  Level: 49,           Purchased: -1,   Type: "Bow",       Ele: "Anemo"},
        10: {Name: "Dehya",      Row:-1,  Level: 59,           Purchased: -1,   Type: "Claymore",   Ele: "Pyro"},
        11: {Name: "Alhaitham",  Row:-1,  Level: 69,           Purchased: -1,   Type: "Sword",    Ele: "Dendro"},
        12: {Name: "Amber",      Row:-1,  Level: 78,           Purchased: -1,   Type: "Bow",      Ele: "Pyro"},
        13: {Name: "Bennett",    Row:-1,  Level: 88,           Purchased: -1,   Type: "Sword",      Ele: "Pyro"},
        14: {Name: "Noelle",     Row:-1,  Level: 98,           Purchased: -1,   Type: "Claymore",      Ele: "Geo"},
        15: {Name: "Barbara",    Row:-1,  Level: 108,          Purchased: -1,   Type: "Catalyst",      Ele: "Hydro"},
        16: {Name: "Lisa",       Row:-1,  Level: 118,          Purchased: -1,   Type: "Catalyst",      Ele: "Electro"},
        17: {Name: "Kaeya",      Row:-1,  Level: 128,          Purchased: -1,   Type: "Sword",      Ele: "Cryo"},
        18: {Name: "Diluc",      Row:-1,  Level: 138,          Purchased: -1,   Type: "Claymore",      Ele: "Pyro"},
        19: {Name: "Diona",      Row:-1,  Level: 148,            Purchased: -1,   Type: "Bow",      Ele: "Cryo"},
        20: {Name: "Fischl",     Row:-1,  Level: 158,            Purchased: -1,   Type: "Bow",      Ele: "Electro"},
        21: {Name: "Mona",       Row:-1,  Level: 168,            Purchased: -1,   Type: "Catalyst",      Ele: "Hydro"},
        22: {Name: "Rosaria",    Row:-1,  Level: 178,            Purchased: -1,   Type: "Polearm",      Ele: "Cryo"},
        23: {Name: "Klee",       Row:-1,  Level: 188,            Purchased: -1,   Type: "Catalyst",      Ele: "Pyro"},
        24: {Name: "Razor",      Row:-1,  Level: 188,            Purchased: -1,   Type: "Claymore",      Ele: "Electro"},
        25: {Name: "Sucrose",    Row:-1,  Level: 198,            Purchased: -1,   Type: "Catalyst",      Ele: "Anemo"},
        26: {Name: "Xiangling",  Row:-1,  Level: 228,            Purchased: -1,   Type: "Polearm",      Ele: "Pyro"},
        27: {Name: "Xingqiu",    Row:-1,  Level: 248,            Purchased: -1,   Type: "Sword",      Ele: "Hydro"},
        28: {Name: "Chongyun",   Row:-1,  Level: 268,            Purchased: -1,   Type: "Claymore",      Ele: "Cryo"},
        29: {Name: "Xinyan",     Row:-1,  Level: 288,            Purchased: -1,   Type: "Claymore",      Ele: "Pyro"},
        30: {Name: "Yun Jin",    Row:-1,  Level: 348,            Purchased: -1,   Type: "Polearm",      Ele: "Geo"},
        31: {Name: "Beidou",     Row:-1,  Level: 368,            Purchased: -1,   Type: "Claymore",      Ele: "Electro"},
        32: {Name: "Ningguang",  Row:-1,  Level: 408,            Purchased: -1,   Type: "Catalyst",      Ele: "Geo"},
        33: {Name: "Ganyu",      Row:-1,  Level: 438,            Purchased: -1,   Type: "Bow",      Ele: "Cryo"},
        34: {Name: "Keqing",     Row:-1,  Level: 478,            Purchased: -1,   Type: "Sword",      Ele: "Electro"},
        35: {Name: "Yanfei",     Row:-1,  Level: 508,            Purchased: -1,   Type: "Catalyst",      Ele: "Pyro"},
        36: {Name: "Kazuha",     Row:-1,  Level: 558,            Purchased: -1,   Type: "Sword",      Ele: "Anemo"},
        37: {Name: "Thoma",      Row:-1,  Level: 598,            Purchased: -1,   Type: "Polearm",      Ele: "Pyro"},
        38: {Name: "Yoimiya",    Row:-1,  Level: 618,            Purchased: -1,   Type: "Bow",      Ele: "Pyro"},
        39: {Name: "Ayaka",      Row:-1,  Level: 638,            Purchased: -1,   Type: "Sword",      Ele: "Cryo"},
        40: {Name: "Gorou",      Row:-1,  Level: 678,            Purchased: -1,   Type: "Bow",      Ele: "Geo"},
        41: {Name: "Kokomi",     Row:-1,  Level: 708,            Purchased: -1,   Type: "Catalyst",      Ele: "Hydro"},
        42: {Name: "Sayu",       Row:-1,  Level: 758,            Purchased: -1,   Type: "Claymore",      Ele: "Anemo"},
        43: {Name: "Heizou",     Row:-1,  Level: 808,            Purchased: -1,   Type: "Catalyst",      Ele: "Anemo"},
        44: {Name: "Shinobu",    Row:-1,  Level: 838,            Purchased: -1,   Type: "Sword",      Ele: "Electro"},
        45: {Name: "Itto",       Row:-1,  Level: 908,            Purchased: -1,   Type: "Claymore",      Ele: "Geo"},
        46: {Name: "Sara",       Row:-1,  Level: 968,            Purchased: -1,   Type: "Bow",      Ele: "Electro"},
        47: {Name: "Venti",      Row:-1,  Level: 1000,          Purchased: -1,   Type: "Bow",   Ele: "Anemo"},
        48: {Name: "Zhongli",    Row:-1,  Level: 1250,          Purchased: -1,   Type: "Polearm",   Ele: "Geo"},
        49: {Name: "Raiden",     Row:-1,  Level: 1500,           Purchased: -1,   Type: "Polearm",   Ele: "Electro"},
// RMB TO UPDATE MAX CONSTANTS// RMB TO UPDATE MAX CONSTANTS// RMB TO UPDATE MAX CONSTANTS// RMB TO UPDATE MAX CONSTANTS// RMB TO UPDATE MAX CONSTANTS
        100: {Name: "Jean",        Row:-1,  Level: 0,          Purchased: -10,   Type: "Sword",   Ele: "Anemo"},
        101: {Name: "Albedo",      Row:-1,  Level: 0,          Purchased: -10,   Type: "Sword",   Ele: "Geo"},
        102: {Name: "Qiqi",        Row:-1,  Level: 0,          Purchased: -10,   Type: "Sword",   Ele: "Cryo"},
        103: {Name: "Yelan",       Row:-1,  Level: 0,          Purchased: -10,   Type: "Bow",   Ele: "Hydro"},
        104: {Name: "Shenhe",      Row:-1,  Level: 0,          Purchased: -10,   Type: "Polearm",   Ele: "Cryo"},
        105: {Name: "Ayato",       Row:-1,  Level: 0,          Purchased: -10,   Type: "Sword",   Ele: "Hydro"},
        106: {Name: "Yae Miko",    Row:-1,  Level: 0,          Purchased: -10,   Type: "Catalyst",   Ele: "Electro"},
        107: {Name: "Eula",        Row:-1,  Level: 0,          Purchased: -10,   Type: "Claymore",   Ele: "Cryo"},
        108: {Name: "Hu Tao",      Row:-1,  Level: 0,          Purchased: -10,   Type: "Polearm",   Ele: "Pyro"},
        109: {Name: "Xiao",        Row:-1,  Level: 0,          Purchased: -10,   Type: "Polearm",   Ele: "Anemo"},
        110: {Name: "Tartaglia",   Row:-1,  Level: 0,          Purchased: -10,   Type: "Bow",   Ele: "Hydro"},
        111: {Name: "Scaramouche", Row:-1,  Level: 0,          Purchased: -10,   Type: "Catalyst",   Ele: "Anemo"},
    }


    // RMB TO UPDATE MAX CONSTANTS
    var Inventory = {
        1001: {Name:"coolSteel",      Star:3,  Type:"Sword"},
        1002: {Name:"ferrous",        Star:3,  Type:"Claymore"},
        1003: {Name:"mappa",          Star:4,  Type:"Catalyst"},
        1004: {Name:"rust",           Star:4,  Type:"Bow"},
        1005: {Name:"silverSword",    Star:2,  Type:"Sword"},
        1006: {Name:"dullSword",      Star:1,  Type:"Sword"},
        1007: {Name:"skywardBlade",   Star:5,  Type:"Sword"},
        1008: {Name:"harbingerDawn",  Star:3,  Type:"Sword"},
        1009: {Name:"travelerHandySword",      Star:3,  Type:"Sword"},
        1010: {Name:"sacSword",          Star:3,  Type:"Sword"},
        1011: {Name:"lionsRoar",           Star:3,  Type:"Sword"},
        1012: {Name:"aquilaFavonia",           Star:5,  Type:"Sword"},
        
    // RMB TO UPDATE MAX CONSTANTS
    // RMB TO UPDATE MAX CONSTANTS
    // RMB TO UPDATE MAX CONSTANTS
    // RMB TO UPDATE MAX CONSTANTS
    // RMB TO UPDATE MAX CONSTANTS
        2001: {Name:"gladiator",      Star:4},
        2002: {Name:"deepwood",       Star:5},
        2003: {Name:"crimWitch",      Star:5},
    // RMB TO UPDATE MAX CONSTANTS
        3001: {Name:"masalaCheese",   Star:2,                     BuffTemp:10},
        3002: {Name:"jueyunchili",    Star:2,                     BuffTemp:10},

        4001: {Name:"wandererEXP",    Star:2,                     BuffLvl:3},
        4002: {Name:"adventureEXP",   Star:3,                     BuffLvl:5},
        4003: {Name:"heroEXP",        Star:4,                     BuffLvl:10},
    }

    var tooltip = {
    Nahida:{text:"A caged bird secluded within the confines of the Sanctuary of Surasthana who can only see the world in her dreams."},
    Traveller:{text:"The keeper is fading away; the creator has not yet come.But the world shall burn no more, for you shall ascend."},
    }

    const weaponBuffPercent = [0, 100, 200, 300, 400, 1000];
    const artifactBuffPercent = [0, 1.02, 1.05, 1.10, 1.20, 1.35];

    
    const WEAPONMAX = 1009;
    const ARTIFACTMAX = 2004;
    const FOODMAX = 3003;
    const XPMAX = 4004;

    const NONWISHHEROMAX = 49
    const WISHHEROMIN = 100;
    const WISHHEROMAX = 112;
    const WISHCOST = 10;
    const STARTINGWISHFACTOR = 50;

    var wishMultiplier = 0;
    var wishCounter = WISHHEROMAX - WISHHEROMIN;

    const ADVENTURECOSTS = [0, 100, 200, 300, 400, 500];
    const ADVENTUREFAILURE = [0, 0, 5, 10, 20, 30];

    var demoContainer = document.getElementById("demo-container");
    var score = document.getElementById("score");
    var energyDisplay = document.getElementById("energy");
    var dpsDisplay = document.getElementById("dps");
    var primogemDisplay = document.getElementById("primogem");

    var table1 = document.getElementById("table1");
    var table2 = document.getElementById("table2");
    var table3 = document.getElementById("table3");
    var table4 = document.getElementById("table4");
    var table5 = document.getElementById("table5");
    const TABS = [table1,table2, table3, table4, table5]

    // MAIN BODY VARIABLES
    var mainBody = document.getElementById("bodyID");
    table6 = document.createElement("table");
    mainBody.appendChild(table6);
    table6.classList += "table6";
    
    
    // MAIN BODY GUI
    var para1 = document.getElementById("para")
    var leftImg =  document.createElement("img");
    leftImg.src = "./assets/bg-1.png";
    leftImg.style = "position: absolute; left:-30px; top: -17px; width: 630px; height: 870px;";
    para1.appendChild(leftImg);

    var barImg =  document.createElement("img");
    barImg.src = "./assets/bar.jpg";
    barImg.style = "position: absolute; left: 600px; top: -16px; width: 95px; height: 870px;";
    para1.appendChild(barImg);

    var topImg =  document.createElement("img");
    topImg.src = "./assets/top-bar.png";
    topImg.style = "position: absolute; left: 695px; top: -16px; width: 969px; height: 106px;";
    para1.appendChild(topImg);

    var mainImg =  document.createElement("img");
    mainImg.src = "./assets/main-bar.png";
    mainImg.style = "position: absolute; left: 695px; top: 90px; width: 970px; height: 765px;";
    para1.appendChild(mainImg);

    var expedDiv = document.createElement("div");
    expedDiv.classList = "tooltipEXPED";
    expedDiv.id = "expedDivID";

    mainImg.src = "./assets/main-bar.png";
    mainImg.style = "position: absolute; left: 695px; top: 90px; width: 970px; height: 765px;";
    para1.appendChild(mainImg);

    // TOOLTIPS FOR EXPEDITION
    var expedTable = document.createElement("table");
    expedTable.classList = "tooltipTABLEEXPED";

    let expedRow = expedTable.insertRow(0);
    expedRow.style.height = "110px";
    var expedCell2 = expedRow.insertCell(0);
    expedCell2.classList += "exped-cell-two"

    let expedRow2 = expedTable.insertRow(0);
    expedRow2.style.height = "80px";
    var expedCell1 = expedRow2.insertCell(0);
    expedCell1.classList += "exped-cell-one"

    expedDiv.appendChild(expedTable);
    para1.appendChild(expedDiv);

    var expedContainer = document.getElementById("table3");
    expedDiv.style.display = "none";
    var ButtonCount = 1;

    // CREATING EXPEDITION UI
    createExpedition()
    function createExpedition() {
        let i = 0;
        do {
            let expedButton = document.createElement("div");
            expedButton.classList += "expedition-container"
            
            if (i > 1){
                var backgroundImg = "background:url(./assets/exped6.png)";
            } else {
                var backgroundImg = "background:url(./assets/exped" + ButtonCount + ".png)";
            }

            let buttonId = "exped-" + ButtonCount;
            expedButton.innerHTML += '<button id='+buttonId+' onclick="adventure('+ButtonCount+')" onmouseover=expedInfo(this.id) onmouseout="expedInfo(7)" class="fade expedition" style="'+backgroundImg+';background-repeat: no-repeat;background-size: 93%;"></button>'        
            
            expedContainer.appendChild(expedButton);
            ButtonCount++;
            i++;
        }
        while (i < 5);
    }

    var expeditionDict = {
        1:{Text:"Explore Teyvat"                  ,Lore:"The best way to understand the world is to explore all that is around you, leaving no stone unturned. Solving the enigmas of old, helping hapless travelers, and following the trails of long-lost treasure will all become invaluable knowledge and experience.", Locked: 0},
        2:{Text:"Visit the Adventurers' Guild"    ,Lore:"They boldly venture up to the stars, down to the abyss, or so their motto would have you believe. In truth, they take on jobs ranging from finding kittens to exploring domains.",Locked: 0},
        3:{Text:"Challenge Domains"               ,Lore:"Domains hide precious treasures. Be sure to explore the domains scattered all over the world to find the treasures hidden within.", Locked: 1},
        4:{Text:"Hunt Boss Enemies"               ,Lore:"Bosses are strong Enemies that are scattered across the world. They are much stronger than elite enemies, but also provide luxurious rewards for defeating them.", Locked: 1},
        5:{Text:"Abyss Diving"                    ,Lore:"Monsters and humans alike flock to the tower in search of the secrets and treasures it contains. Challenge different floors of the tower and defeat the enemies within to win Abyssal Stars...with the help of an ally.", Locked: 1},
        6:{Text:"Locked"                             ,Lore:"Perhaps this path will open after some time..."            ,Locked: 0},
        7:{Text:""                             ,Lore:""            ,Locked: 0},
    }

    function expedInfo(butId){
        let i = 0;
        if (butId == 7) {
            i = 7;
        } else {
            i = butId.split("-")[1];
        }

        if (expeditionDict[i]["Locked"] == 0 || i == 7) {
            expedCell1.innerHTML = expeditionDict[i]["Text"];
            expedCell2.innerHTML = expeditionDict[i]["Lore"];
        } else {
            expedCell1.innerHTML = expeditionDict[6]["Text"];
            expedCell2.innerHTML = expeditionDict[6]["Lore"];
        }
    }
    function unlockExpedition(i) {
        let expedID = "exped-" + i;
        let unlockButton = document.getElementById(expedID);
        let backgroundImage = "url(./assets/exped" + i + ".png)";

        expeditionDict[i].Locked = 0;
        unlockButton.style.background = backgroundImage;
        unlockButton.style["background-repeat"] = "no-repeat";
        unlockButton.style["background-size"]= "93%";
    }
    
    // TOOLTIPS FOR HEROES/ITEMS
    var tooltipTop = (table6.insertRow(0)).insertCell(0);
    tooltipTop.align = "center"
    tooltipTop.style = "height:300px"

    var toolImg = document.createElement("img");
    toolImg.src = "./assets/tooltips/empty.png";
    toolImg.style ="width:250px;height:250px;";
    
    // TOOLTIP UI
    tooltipTop.appendChild(toolImg);
    var tooltipText = (table6.insertRow(1)).insertCell(0);

    function changeTooltip(name) {
        tooltipContent = tooltip[name].text;
        tooltipText.innerText = tooltipContent;
        toolImg.src = "./assets/tooltips/"+name+".png";
    }

    function clearTooltip() {
        tooltipText.innerText = "";
        toolImg.src = "./assets/tooltips/empty.png";
    }

    var achievementTypeRawScore = [10,1e3,1e4,1e6,1e8,1e10,1e12,1e14,1e16,1e18,1e20,1e22];
    var achievementTypeRawDPS = "";
    var achievementTypeRawCollection = "";
    var achievementTypeRawClicking = "";
    var achievementList = {
        1: {Name:"Nut Collector", Description:"Collect 10 nuts"},
        2: {Name:"Nut Fan", Description:"Collect 1000 nuts"},
        3: {Name:"Nut Gatherer", Description:"Collect 10,000 nuts"},
        4: {Name:"Nut Accumulator", Description:"Collect 1 million nuts"},
        5: {Name:"Nut Hobbyist", Description:"Collect 100 million nuts"},
        6: {Name:"Nut Addict", Description:"Collect 1 billion nuts"},
        7: {Name:"Nut Fancier", Description:"Collect 100 billion nuts"},
        8: {Name:"Nut Lord", Description:"Collect 1 trillion nuts"},
        9: {Name:"Nut Savant", Description:"Collect 100 trillion nuts"},
        10: {Name:"Nut Connoisseur", Description:"Collect 1 quadrillion nuts"},
        11: {Name:"Nut Devotee", Description:"Collect 100 quadrillion nuts"},
        12: {Name:"Nut Aficionado", Description:"Collect 1 quintillion nuts"},
        13: {Name:"Nut Pundit", Description:"Collect 100 quintillion nuts"},
        14: {Name:"Nut Antiquarian", Description:"Collect 1 sextillion nuts"},
        15: {Name:"Nut Authority", Description:"Collect 100 sextillion nuts"},
        16: {Name:"", Description:""},
        17: {Name:"", Description:""},
        18: {Name:"", Description:""},
        19: {Name:"", Description:""},
        20: {Name:"", Description:""},
        21: {Name:"", Description:""},
        22: {Name:"", Description:""},
        23: {Name:"", Description:""},
        24: {Name:"", Description:""},
        25: {Name:"", Description:""},
        26: {Name:"", Description:""},
        27: {Name:"", Description:""},
        28: {Name:"", Description:""},
        29: {Name:"", Description:""},
        30: {Name:"", Description:""},
        31: {Name:"", Description:""},
        32: {Name:"", Description:""},
        33: {Name:"", Description:""},
        34: {Name:"", Description:""},
        35: {Name:"", Description:""},
        36: {Name:"", Description:""},
        37: {Name:"", Description:""},
        38: {Name:"", Description:""},
        39: {Name:"", Description:""},
        40: {Name:"", Description:""},
        41: {Name:"", Description:""},
        42: {Name:"", Description:""},
        43: {Name:"", Description:""},
        44: {Name:"", Description:""},
        45: {Name:"", Description:""},
        46: {Name:"", Description:""},
        47: {Name:"", Description:""},
        48: {Name:"", Description:""},
        49: {Name:"", Description:""},
        50: {Name:"", Description:""},
    }

    var scoreAchievement = 0;

    // ACHIEVEMENTS
    function createAchievement(idNum) {
        var itemUniqueID = "item-" + idNum + "-" + itemCount;
        table5.innerHTML += 0;
    }


    function popAchievement(achievement) {
        var oldAchievement = document.getElementById("tempAchievement");
        if (oldAchievement != null) {
            mainBody.removeChild(oldAchievement);
        }

        if (achievement == "score") {
            var achievementText = achievementList[scoreAchievement + 1].Name;
            var achievementDesc = achievementList[scoreAchievement + 1].Description;
            scoreAchievement++;
        }

        var achievementPopUp = document.createElement("p");

        let achievementH1 = document.createElement("h2");
        achievementH1.innerText = achievementText;
        achievementH1.classList += "achieveH1"
        let achievementH2 = document.createElement("h3");
        achievementH2.innerText = achievementDesc;
        achievementH2.classList += "achieveH2"

        achievementPopUp.appendChild(achievementH1);
        achievementPopUp.appendChild(achievementH2);
        achievementPopUp.classList += "achieve"
        achievementPopUp.id = "tempAchievement"
        achievementPopUp.onclick = achievementPopUp.remove;
        mainBody.appendChild(achievementPopUp);
    }

    function checkAchievement() {
        if (realScore >= achievementTypeRawScore[0]) {
            popAchievement("score");
            achievementTypeRawScore.shift();
        }
    }

    // ALL TIME-EVENTS SYNC TO THIS FUNCTION
    function timerEvents() {
        checkAchievement()
        realScore += dps;
        refresh();
    } 

    var timer = setInterval(timerEvents,1000);

    // INITIAL LOADING
    generateHeroPrices();
    tabChange(1)
    refresh();

    realScore++;
    addNewRow();
    realScore--;

    // CHANGE TABS
    function tabChange(x) {
        for (tab in TABS){
            TABS[tab].style.display = "none";
        }
        TABS[x-1].style.display = "flex";

         if (x-1 == 0 || x-1 == 1) {
            table6.style.display = "block";
         } else {
            table6.style.display = "none"; 
         }

         if (x-1 == 2) {
            expedDiv.style.display = "block";
         } else {
            expedDiv.style.display = "none";
         }

    }

    // BIG BUTTON FUNCTIONS
    demoContainer.innerHTML += "<span id='demo'></span>";

    demo.onclick = function() {
        clickCount += 1;
        realScore += 1 * clickFactor;
        energyRoll();
        refresh();
        addNewRow();
    }

    demo.onmousedown = function() {
        demo.style.width = "92%";
        demo.style.height = "92%";
        demo.style["margin-top"] = '4%';
        demo.style["margin-left"] = '4%';
    }

    function mouseOver() {
        demo.style.width = "98%";
        demo.style.height = "98%";
        demo.style["margin-top"] = '1%';
        demo.style["margin-left"] = '1%';
    }

    demo.onmouseover = function () {
        mouseOver();
    };
    
    demo.onmouseup = function () {
        mouseOver()
    };

    demo.onmouseout = function() {
        demo.style.width = "95%";
        demo.style.height = "95%";
        demo.style["margin-top"] = '2.5%';
        demo.style["margin-left"] = '2.5%';
    }

   // RANDOM NUMBER GENERATOR
    function randomInteger(min, max) {
        return Math.floor(Math.random() * (max - min) ) + min;
    }

    // ROLL FOR ENERGY
    function energyRoll() {
        let randInt = Math.floor(Math.random() * 1000);
        clickDelay--;

        if (clickDelay < 1){
            if (randInt < energyChance){
                energy += randomInteger(lowerEnergyRate, upperEnergyRate);
                clickDelay = 10;
            }
        }
    }

    // GENERATE BASE ATK AND COSTS OF NON-WISH HEROES
    function generateHeroPrices() {
         for (let i = 1; i < NONWISHHEROMAX + 1; i++) {
            var initBaseCost = 50
            var multiplierBaseCost = 2.5
            let baseCost = Math.round(initBaseCost * (multiplierBaseCost ** (i-1)));
            upgradeDict[i]["Cost"] = Number(baseCost.toPrecision(3))
            
            var initATKCost = 1
            var multiplierATKCost = 2.5
            let baseATK = Math.round(initATKCost * (multiplierATKCost ** (i-1)));
            upgradeDict[i]["Factor"] = Number(baseATK.toPrecision(3));
        }
    }

    function abbrNum(number) {
        decPlaces = Math.pow(10, 2);
        var abbrev = [""," Million"," Billion"," Trillion"," Quadrillion"," Quintillion"," Sextillion"," Septillion"];

        if (number > 1e6) {
            for (var i = abbrev.length - 1; i >= 0; i--) {
                var size = Math.pow(10, (i + 1) * 3);
                if (size <= number) {
                    number = Math.round((number * decPlaces) / size) / decPlaces
                    if (number == 1000 && i < abbrev.length - 1) {
                            number = 1;
                            i++;
                        }
                    number += abbrev[i];
                    break;
                }
            }
            return number;
        } else {
            number = Math.round(number);
            return number;
        }
    }

    // SPAWN NEW HEROES IN LIST
    function addNewRow() {
        for (let i = 0; i < WISHHEROMAX; i++) {
            if (i < WISHHEROMIN && i > NONWISHHEROMAX) continue;
            if (realScore >= upgradeDict[i].Level && upgradeDict[i].Purchased == -1){
                let newRow = table1.insertRow(-1);
                let newCell = newRow.insertCell(0);

                upgradeDict[i].Row = rowCount;
                upgradeDict[i].Purchased = 0;
                
                if (upgradeDict[i].Level == 0) {
                    var heroText = "Summon " + upgradeDict[i].Name + " for help. (" + abbrNum(upgradeDict[i]["Cost"]) + ")";
                } else if (i == 0) {
                    var heroText = "Level Up Nahida (" + abbrNum(upgradeDict[i]["Cost"]) + ")";
                } else {
                    var heroText = "Call for " + upgradeDict[i].Name + "'s help... (" + abbrNum(upgradeDict[i]["Cost"]) + ")";
                }
                
                var heroButtonContainer = document.createElement("div");
                var heroFront = "background:url(./assets/button-3.png)";
                let toolName = "'"+upgradeDict[i].Name+"'";
                
                heroButtonContainer.innerHTML += '<button onclick="upgrade(this.id)" onmouseover="changeTooltip('+toolName+')" onmouseout="clearTooltip()" class="upgrade" id="but-'+rowCount+'"" style='+ heroFront +'>'+heroText+'</button>'
                heroButtonContainer.classList += 'hero-glow'

                newCell.appendChild(heroButtonContainer);
                rowCount++;
            }
        }
    }
    
    // UPGRADE HEROES
    function upgrade(clicked_id) {
        var butIdArray = clicked_id.split("-")[1];
        for (let i = 0; i < WISHHEROMAX; i++) {
            if (i < WISHHEROMIN && i > NONWISHHEROMAX) continue;
            if (upgradeDict[i].Row == butIdArray) {
                var currentPrice = upgradeDict[i]["Cost"] * (1.15 ** ((upgradeDict[i].Purchased)));
                currentPrice = Math.round(currentPrice);

                let freePass = false;
                if (freeLevels > 0){
                    freePass = true;
                }
                if (realScore >= currentPrice || freePass == true) {
                    if (freePass == true) {
                        realScore += currentPrice;
                        freeLevels--;
                    }
                    realScore -= currentPrice;

                    if (i == 0) {
                        clickFactor += upgradeDict[i]["Factor"];
                        var nextPrice = upgradeDict[i]["Cost"] * (1.5 ** ((upgradeDict[i].Purchased)))
                    } else {
                        dps += upgradeDict[i]["Factor"];
                        var nextPrice = upgradeDict[i]["Cost"] * (1.15 ** ((upgradeDict[i].Purchased)))
                    }
      
                    upgradeDict[i].Purchased += 1;

                    nextPrice = Math.round(nextPrice);
                    refresh(clicked_id, nextPrice, i);
                }
                freePass == false;
            }
        }
    }

    // ADD TO INVENTORY 
    function inventoryAdd(idNum) {
        itemCount++;
        var itemUniqueID = "item-" + idNum + "-" + itemCount;
        table2.innerHTML += '<button id='+ itemUniqueID +' onclick="itemUse(this.id)" class="inventoryButton" style="background:url(./assets/inventory/'+ Inventory[idNum].Name +'.jpg);background-repeat: no-repeat;background-size: 128px 144px;"></button>'
    }
    
    // INVENTORY UI
    function itemUse(itemUniqueId) {
        let item = document.getElementById(itemUniqueId);
        let itemID = itemUniqueId.split("-")[1];
        if (itemID >= 1001 && itemID < WEAPONMAX){
            for (let i = 0; i < Object.keys(upgradeDict).length; i++) {
                if (i < WISHHEROMIN && i > NONWISHHEROMAX && i != 1) continue;
                if (upgradeDict[i].Purchased > 0){
                    if (upgradeDict[i].Type == Inventory[itemID].Type){
                        upgradeDict[i]["Factor"] += weaponBuffPercent[Inventory[itemID].Star];
                        refresh("hero", i);
                    }
                }
            }
        } else if (itemID >= 2001 && itemID < ARTIFACTMAX){
            for (let i = 0; i < Object.keys(upgradeDict).length; i++) {
                if (i < WISHHEROMIN && i > NONWISHHEROMAX && i != 1) continue;
                if (upgradeDict[i].Purchased > 0){
                    upgradeDict[i]["Factor"] *= artifactBuffPercent[Inventory[itemID].Star];
                    upgradeDict[i]["Factor"] = Math.round(upgradeDict[i]["Factor"]);
                    refresh("hero", i);
                }
            }
        }  else if (itemID >= 4001 && itemID <  XPMAX){
            freeLevels += Inventory[itemID].BuffLvl;
            refresh();
        }
        item.remove();
    }

    // EXPEDITION UI
    // RMB THERES A CHANCE OF FAILURE, IT IS NOT A BUG IF NOTHING HAPPENS
    function adventure(type) {

        if (expeditionDict[type].Locked == 1){
            alert("ITS LOCKED CANT YOU SEE!!!!!!!")
            return                                //// <------------------------ ADD THE POPUP FOR LOCKED
        } else {                                                     
            if (energy >= ADVENTURECOSTS[type]){
                energy -= ADVENTURECOSTS[type];
                refresh();

                let randInt = randomInteger(0, 99);
                if (randInt < ADVENTUREFAILURE[type]){
                    return;
                } else {
                    if (type == 1){
                    inventoryDraw("artifact", 1, 4);
                    inventoryDraw("weapon", 1, 2);
                    inventoryDraw("xp", 2, 2);
                    inventoryDraw("food", 1, 3);
                    }
                    if (type == 2){
                        inventoryDraw("xp", 2, 2);
                        inventoryDraw("food", 2, 3);
                        inventoryDraw("artifact", 2, 4);
                        inventoryDraw("weapon", 2, 2);
                    }
                    if (type == 3){
                        inventoryDraw("xp", 2, 3);
                        inventoryDraw("artifact", 3, 4);
                        inventoryDraw("food", 2, 4);
                        inventoryDraw("weapon", 2, 3);
                    }
                    if (type == 4){
                        inventoryDraw("weapon", 3, 4);
                        inventoryDraw("artifact", 3, 4);
                        inventoryDraw("xp", 3, 4);
                        inventoryDraw("food", 2, 4);
                    }
                    if (type == 5){
                        inventoryDraw("artifact", 4, 5);
                        inventoryDraw("weapon", 4, 5);
                        inventoryDraw("food", 2, 5);
                        inventoryDraw("xp", 4, 4);
                    }
                }
            }  
        }   
    }

    // DRAWS FOR RANDOM INVENTORY LOOT 
    function inventoryDraw(itemType, min, max){
        var upperInventoryType = {"weapon": WEAPONMAX, "artifact": ARTIFACTMAX, "food": FOODMAX, "xp": XPMAX};
        var lowerInventoryType = {"weapon": 1001, "artifact": 2001, "food": 3001, "xp": 4001};
        let temp = 0;
        while (true){
            temp = randomInteger(lowerInventoryType[itemType], upperInventoryType[itemType])
            if (Inventory[temp].Star >= min && Inventory[temp].Star < (max + 1)) {
                inventoryAdd(temp);
                break;
            } else {
                continue;
            }
        }
    }

    // DRAWS FOR SPECIAL HEROS
    function wish() {
        if (energy > WISHCOST) {
            energy -= WISHCOST;
            refresh();
            
            while (wishCounter) {
                let i = randomInteger(WISHHEROMIN, WISHHEROMAX)
                if (upgradeDict[i].Purchased >= -1) {
                    continue;
                } else {
                    upgradeDict[i].Purchased = -1;
                    upgradeDict[i]["Factor"] = Math.round(dps * (STARTINGWISHFACTOR + wishMultiplier)/30);
                    upgradeDict[i]["Cost"] = Math.round(dps * (20));

                    wishMultiplier += 5;
                    wishCounter--;
                    addNewRow();
                    break;
                }
            }
        }
    }

    // REFRESH SCORES & ENERGY
    function refresh(...arguments) {
        let formatScore = abbrNum(realScore);
        score.innerHTML = "Score: " + formatScore;

        let formatDps = abbrNum(dps);
        dpsDisplay.innerHTML = "DPS: " + formatDps;

        energyDisplay.innerHTML = "Energy: " + energy;
        primogemDisplay.innerHTML = "Primogem: " + primogem;
        
        if (arguments[0] != undefined){
            if (arguments[0].includes("but-")){
                if (arguments[2] == 0) {
                    upgradeDict[arguments[2]]["Cost"] = abbrNum(upgradeDict[arguments[2]]["Cost"] * 1.2);
                    var formatCost = upgradeDict[arguments[2]]["Cost"];
                } else {
                    var formatCost = abbrNum(arguments[1]);
                }

                    var formatATK = abbrNum(upgradeDict[arguments[2]]["Factor"]);
                console.log(formatCost)

                var heroText =  upgradeDict[arguments[2]].Name + ": " + formatCost + ", ATK: " + formatATK;
                let upgradedHeroButton = document.getElementById(arguments[0])
                upgradedHeroButton.innerText = heroText;
                upgradedHeroButton.style = "background:url(./assets/nahida.webp);  background-size: 90%; background-position: 25% center; background-repeat: no-repeat;";
                
            }
        } else if (arguments[0] == "hero"){
            let formatATK = abbrNum(upgradeDict[arguments[1]]["Factor"]);
            let formatCost = abbrNum(arguments[1]);
            var heroText =  upgradeDict[arguments[1]].Name + ": " + formatCost + ", ATK: " + formatATK;
            let id="but-" + arguments[1].rowCount + "";
            document.getElementById(id).innerText = heroText;
        }
    }
    

</script>
</body>
</html>